* {
    box-sizing: border-box;
}

.wrapper {
    width: 1100px;
    margin: auto;
    padding-top: 40px;
}

.board-wrapper {
    width: 740px;
    padding: 40px 0px;
    text-align: center;
    display: inline-block;
    border: solid 1px #000000;
    vertical-align: top;
}

.game-info-wrapper {
    width: 332px;
    display: inline-block;
    border: solid 1px #000000;
    vertical-align: top;
}

.board {
    margin: auto;
    border: solid 1px #000000;
    border-spacing: 0px;
}

.block {
    width: 80px;
    height: 80px;
    display: inline-block;
    border: solid 1px #000000;
}

.row-odd > .block:nth-child(even) {
    background-color: #2c9556;
}

.row-even > .block:nth-child(odd) {
    background-color: #2c9556;
}

.user-info-wrapper {
    padding: 20px;
}

.user-info {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: solid 1px #000000;
}

.user-info > img {
    height: 100%;
    margin-right: 20px;
    vertical-align: middle;
}

.user-name {
    width: 212px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 28px;
}

.game-info-wrapper > form {
    padding: 20px;
}

.positions-wrapper {
    width: 200px;
    padding: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.position-wrapper {
    margin: 8px 0;
}

.position-wrapper > input {
    width: 112px;
    height: 32px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}

.position-index {
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
    vertical-align: middle;
}

.move-button-wrapper {
    width: 80px;
    height: 110px;
    padding: 18px 0px;
    display: inline-block;
    vertical-align: bottom;
}

.move-button-wrapper > button {
    width: 100%;
    height: 100%;
    font-size: 20px;

}







