body {
    margin: 0;
}

.title_text {
    margin-top: 5px;
    color: white;
    width: max-content;
    display: block;
    float: left;
}

.header_box {
    margin-top: 0;
    background: #4bc1bd;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
}

.title_box {
    width: max-content;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    height: 100%;
    width: auto;
}