HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Docker ###
docker/db/master_db/mysql/data/
docker/db/master_db/mysql/init/*
!docker/db/master_db/mysql/init/init.sql
docker/db/test_db/mysql/data/
docker/db/test_db/mysql/init/*
!docker/db/test_db/mysql/init/init.sql
