h1 {
    text-align: center;
}

form {
    display: inline;
}

button, input {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 10px 30px 10px;
    font-size: 18px;
}

button {
    border-color: #333;
    background-color: #444;
}

button:hover, button:focus, button:active {
    background-color: #666;
    border-color: #555;
}

input {
    color: #000000;
}

div.center {
    text-align: center;
}