.chessBoard table {
  margin: 0.5em auto;
}


.chessBoard td {
  background-image: url("/img/whiteTile.jpeg");
  width: 5em;
  height: 5em;
  max-height: 100%;
  text-align: center;
  overflow: visible;
}

.chessBoard td > img {
  position: relative;
  bottom: 0.3em;
  filter: drop-shadow(0 3px 2px #000000);
}

.chessBoard tr:nth-child(odd) td:nth-child(even),
.chessBoard tr:nth-child(even) td:nth-child(odd) {
  background-image: url("/img/blackTile.jpeg");
}