html, body {
    background-color: darkslategrey;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.chess-board-margin {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 694px;
    height: 694px;
    background-size: 694px;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    width: 640px;
    height: 640px;
    text-align: center;
}

.chess-piece {
    height: 70px;
    margin-top: 5px;
}

.board-black-square {
    background-color: saddlebrown;
}

.board-white-square {
    background-color: sandybrown;
}

.chess-menu {
    margin-right: 120px;
    margin-top: 120px;
    float: right;
    border: 1px solid white;
    justify-content: right;
    line-height: 50px;
    width: 480px;
    height: 480px;
}

.message-info {
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    color: white;
    border: 1px solid darksalmon;
    margin-left: 30px;
    margin-top: 10px;
    width: 410px;
    height: 140px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    border: 1px solid cornflowerblue;
    margin-left: 30px;
    width: 410px;
    height: 80px;
}

button:focus {
    background-color: cornflowerblue;
}