h1 {
 text-align: center;
}

div{
    margin: auto;
    text-align: center;
}

button {
    padding: 5px;
    max-width: 300px;
    font-size: 20px;
}

ul {
    list-style: none;
}
ul li::before {
    content: "";
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
}