h1 {
    text-align: center;
}

div {
    margin: auto;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}

div .gameList {
    text-decoration: underline wavy;
}

button {
    padding: 5px;
    max-width: 300px;
    font-size: 15px;
    margin-bottom: 30px;
}

a {
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 10px;
}

a:link {
    text-decoration: none;
    text-shadow: 0 0 24px;
}

a:visited {
    text-decoration: none;
    text-shadow: 0 0 24px;
}