body {
    text-align: center;
    background-color: rgb(30, 30, 30);
}

h1 {
    text-align: center;
    text-decoration-color: white;
}

.chessboard {
    width: 640px;
    height: 640px;
    margin: 0 auto;
    border: 25px solid #333;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.select {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #808000;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}