table {
  font-size: 3em;
  color: #333;
  border: 3px solid #666;
  width: 584px;
  height: 580px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.4);
  margin: 20px;
}

td {
  background: #FFE7AA;
  height: 70px;
  width: 70px;
  text-align: center;
}

img {
  max-height: 70%;
  min-width: 70%;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: #D4B66A;
}

