html,
body {
    margin: 0;
    padding: 10px;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

:focus {
    outline: 0;
}

table.chessboard {
    margin: 40px auto;
    background: #999;
    border: 10px solid #333;
    border-collapse: collapse;
}

td.chessboard {
    width: 70px;
    height: 70px;
    border: 2px solid #333;
    text-align: center;
}

tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
    background: white;
}

div.result {
    display: none;
}

img.chessboard {
    width: 50px;
    height: 50px;
}

label.alert {
    color: #FF0000;
}
