.chess-ui {
  width: 640px;
  border: 4px solid slategrey;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
}

.piece-img {
  margin-top:10px;
  width:40px;
  height:50px;
}

.white-square {
  background-color: slategrey;
  color: white;
  text-align: center;
}

.white-square.selected {
  background-color: rosybrown;
}

.black-square {
  background-color: white;
  color: slategrey;
  text-align: center;
}

.black-square.selected {
  background-color: rosybrown;
}
