.centered {
    text-align: center;
    width: auto;

}

.chess-board {
    display:inline-flex;
    width: 1000px;
    height: 1000px;
    margin-top: 30px;
    justify-content: center;
}

.white-square {
    width: 70px;
    height: 70px;
    background-color: burlywood;
    color: burlywood;
}

.black-square {
    width: 70px;
    height: 70px;
    background-color: darkgreen;
    color: darkgreen;
}

.board {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    position: absolute;
    left: 600px;
    top: 100px;
}

.start-button {
    position: absolute;
    left: 100px;
    top: 100px;
}

.info-message {
    min-width: 370px;
    height: 590px;
    padding-top: 225px;
    margin-left: 50px;
    display: inline-flex;
    position: absolute;
    width: 100%;

}
