.chess-table {
    height: 800px;
    width: 800px;
}

.chess-row {
    height: 80px;
    width: 800px;
    display: flex;
}

.piece-box {
    width: 80px;
    height: 80px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: green;
   /* padding-left: 25px;
    padding-top: 25px;*/
}

.piece-box.white-box {
    background: #eeeed2;
}
.piece-box.black-box {
    background: #000000;
}
