body {
    margin: 0;
    background-image: url("../images/chessBackground.png");
    background-size: cover;
    background-position: center;
}

.centered {
    text-align: center;
    width: auto;
    color: white;
    height: 230px;
}

.chess-board {
    display: inline-flex;
    width: 500px;
    height: 500px;
    margin-top: 30px;
    justify-content: center;
}

.white-square {
    width: 70px;
    height: 70px;
    background-color: burlywood;
    color: burlywood;
}

.black-square {
    width: 70px;
    height: 70px;
    background-color: darkgreen;
    color: darkgreen;
}

.board {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    position: absolute;
    left: 700px;
    top: 120px;
}

#button-group button {
    position: absolute;
    color: deepskyblue;
    background-color: rgb(0, 0, 0, 0);
    padding: 5px;
    left: 100px;
    top: 300px;
}

#button-group button:hover {
    color: white;
    background-color: deepskyblue;
}

.start-button {
    color: deepskyblue;
    border-radius: 5px;
    margin-left: 4px;
    font-size: 60px;

}

.status-button {
    color: royalblue;
    border-radius: 5px;
    margin-right: 3px;
    font-size: 60px;
    visibility: hidden;
}

.info {
    min-width: 370px;
    height: 50px;
    padding-top: 10px;
}

.info-message {
    padding: 10px;
    margin: 15px;
    width: 600px;
    color: white;
    font-size: 18px;
}

.info-game {
    min-width: 100px;
    padding-top: 3px;
    margin-left: 20px;
    display: inline-flex;
    position: absolute;
    width: 300px;
    color: white;
}
