.white-box {
    width: 80px;
    height: 80px;
    background-color: antiquewhite;
}

.black-box {
    width: 80px;
    height: 80px;
    background-color: dimgrey;
}

.button {
    width: 360px;
    height: 80px;
    background-color: antiquewhite;
    color: dimgrey;
    border-color: dimgrey;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#game-info-section {
    height: 100%;
    margin: auto;
}

#turn-box {
    width: 360px;
    height: 300px;
    background-color: antiquewhite;
    text-align: center;
    border-color: dimgrey;
    display:table-cell;
    vertical-align:middle;
    font-weight: bold;
    font-size: 40px;
}

#piece-image {
    width: 80px;
    height: 80px;
}

#page {
    display: flex;
}

