.chess-ui {
    width: 160px;
    border: 4px solid slategrey;
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(2, 80px);
}

.white-square {
    background-color: slategrey;
    color: white;
}

.white-square.selected {
    background-color: rosybrown;
}

.black-square {
    background-color: white;
    color: slategrey;
}

.black-square.selected {
    background-color: rosybrown;
}

img {
    width: 100%;
}
