
.input {
    width: 100px;
    height: 23px;
}
.button {
    width: 100px;
    height: 30px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#id {
    position: relative;
}

#index-container {
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

#main-container {
    position:absolute;
    top: 50%;
    left: 45%;
    transform:translate(-50%, -50%);
}

#chess-ui {
    float: left;
}

#main-command {
    float: right;
    position: relative;
    left: 10%;
}

.main-form {

    top: 50%;

}

#chess-board {
    border: 1px solid black;
    padding: 0px;
    border-collapse: collapse;
    /*border-spacing: 0px;*/
}

#chess-board tr, #chess-board td {
    border: 4px solid black;
    padding: 10px;
    width: 50px;
    height: 50px;
}

#chess-board img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.black {
    background-color: grey;
}

.clickable {
    pointer-events: auto;
}

.non-clickable {
    pointer-events: none;
    background-color: rgba(128, 128, 128, 0.9);
}

.selected {
    background-color: red;
}