@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'SDSamliphopangche_Outline', serif !important;
}
#chess-game {
    margin-bottom: 5px;
    font-size: 32px;
}
.chessboard {
    width: 650px;
    height: 649px;
    margin: 0 auto;
    border: 5px solid #333;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.piece-cell:hover {
    background-color: cornflowerblue;
}
#status-btn {
    margin-top: 10px;
    width: 325px;
}
#reset-btn {
    margin-top: 10px;
    width: 325px;
}