td.brown {
  width:80px;
  height:80px;
  background-color:#b58865;
}

td.white {
  width:80px;
  height:80px;
  background-color:#f0d9b7;
}

td{
  text-align:center;
}

.button{
  text-align:center;
  float:left;
  width:33%;
}

.move-box{
  text-align:center;
}

.menu-title{
  padding : 5px;
  background-color:#b58865;
  border : 1px solid #b58865;
  font-weight : bold;
}

.menu-box{
  background-color:#f0d9b7;
  border : 1px solid #b58865;
}
