@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

html, body {
    height: 1000px;
    padding: 0px;
    margin: 0px;
    font-family: 'Do Hyeon', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/game-background.jpg');
}

.title-container {
    height: 15%;
    color: white;
    font-size: 30px;
    display: flex;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.chess-board-container {
    height: 70%;
    display: flex;
    justify-content: center;
}

.start-button {
    height: 15%;
}

.board {
    width: 650px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/board-back.jpg");
    background-clip: padding-box;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #000808;
}


.rank-board {
    display: flex;
    flex-direction: row;
}

.rank-set {
    box-shadow: 10px 10px 30px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rank-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rank {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cell {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-cell {
    background-image: url("img/white-board.jpg");
    background-clip: content-box;
}

.black-cell {
    background-image: url("img/black-board2.jpg");
    background-clip: content-box;
}