.square {
  width: 75px;
  height: 75px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.square:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.square1 {
  background-color: wheat;
}

.square:hover {
  background-color: blueviolet;
  cursor: pointer;
 }

.square2 {
  background-color: thistle;
}

#board {
  width: 600px;
  height: 600px;
  text-align: center;
  font-size: 0px;
  border: 10px solid gray;
}

.movable {
  animation-name: flash;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

tr:hover {
  background-color: lightskyblue;
  cursor: pointer;
}