* {
    box-sizing: border-box;
}

table.chessboard {
    margin: 80px auto;
    border: 20px solid #333;
    background-color: #999;
    border-collapse: collapse;
}

td.chessboard {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid #333;
}

tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
    background: white;
}