.container {
    margin-left: 10%;
    margin-top: 1%;
    margin-right: 10%;
    text-align: -webkit-center;
}

.chessboard {
    width: 610px;
    height: 610px;
    margin: 20px;
    border: 25px solid #333;
}

.black {
    border: solid 0.2px black;
    float: left;
    width: 70px;
    height: 70px;
    background-color: #999;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.black:hover {
    background-color: lightyellow;
}

.white {
    border: solid 0.2px black;
    float: left;
    width: 70px;
    height: 70px;
    background-color: #fff;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.white:hover {
    background-color: lightyellow;
}

.score {
    text-align: left;
    font-size: 17px;
}