html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    background-image: url("/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game__chess-table {
    border: 5px solid black;
    padding: 10px;
    width: 900px;
    height: 900px;
    background-color: rgb(82, 58, 51);
    box-shadow: 10px 5px 5px black;
}

.wood-color-space {
    background-color: rgb(180, 136, 99);
}

.black-color-space {
    background-color: rgb(71, 47, 25);
}

#game-information {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.team {
    height: 200px;
    width: 250px;
    background-image: url("/images/wood.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.team__pawn {
    height: 100px;
}

.team__user-name {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.chess-table__space {
    height: 100px;
    width: 100px;
}

.space__piece {
    height: 100px;
    width: 100px;
}

#command-button {
    height: 150px;
    display: flex;
    flex-direction: column;
}

.command {
    height: 40px;
    border: 0;
    margin-bottom: 10px;
    font-size: 25px;
    background-image: url("/images/wood.svg");
    box-shadow: 5px 3px 3px rgba(112, 85, 50, 0.75);
}

.command:hover, .chess-table__space:hover {
    cursor: grab;
}

.chess-table__space:active {
    cursor: grabbing;
}

.command:active {
    box-shadow: 5px 1px 1px rgba(112, 85, 50, 0.75);
    position: relative;
    top: 2px;
}


