.chessboard {
    float: left;
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
}

.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.square:hover {
    background: #AE905E;
}

.connect {
    position: fixed;
    top: 300px;
    left: 900px;
}

.button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.table {
    width: 500px;
    height: 500px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 1px;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
}

.table th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}

.table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}