@charset "UTF-8";

body {
  color: white;
  text-align: center;
  padding: 20px 0 20px 0;
  background-image: url("../image/leaves-pattern-clipart-silhouette.png");
  background-size: 300px;
  font-size: 20px;
}

#header {
  font-size: 40px;
  margin: 20px 0 20px 0;
}

a#proceed-game-button {
  display: inline-block;
  padding: 10px 30px 10px 30px;
  margin: 50px;
  border: #04D4A7 3px solid;
  border-radius: 20px;
  background-color: #04D4A7;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
