.room {
    margin-bottom: 10px;
    display: block;
    width: 200px;
    font-size: 30px;
    padding: 30px 20px 30px 20px;
    border-radius: 5px;
    background: rgb(204, 204, 204);
}

.room-data {
    display: block;
    font-size: 0;
}

.room-form {
    display: inline-block;
}