.chessPiece td {
    background: #FFE7AA;
    height: 70px;
    width: 70px;
    text-align: center;
}

.chessPiece tr:nth-child(odd) td:nth-child(even) {
    background: #D4B66A;
}

.chessPiece tr:nth-child(even) td:nth-child(odd) {
    background: #D4B66A;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.blur {
    filter: blur(8px);
}

.movable {
    border: 3px solid blue;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
}