.entire {
    display : flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

.playerList {
    display : flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}