h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.chessboard {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    border: 25px solid #333;
}

.black {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #999;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.white {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #fff;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.cell:hover {
    background-color: cornflowerblue;
}

.selected {
    box-shadow: inset 0px 0px 10px 3px chartreuse;
}

.center {
    width: 640px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.third {
    border-color: #333;
    color: #fff;
    box-shadow: 0 0 40px 40px #333 inset, 0 0 0 0 #333;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.third:hover {
    box-shadow: 0 0 10px 0 #333 inset, 0 0 10px 4px #333;
}

#games {
    float: right;
}
