* {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    --border-color: rgba(0, 0, 0, 0.125);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    margin: 0 auto;
}

body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("image/bemin.png");
}

h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 70px;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) {
    animation-delay: .1s;
}

h1 span:nth-child(3) {
    animation-delay: .2s;
}

h1 span:nth-child(4) {
    animation-delay: .3s;
}

h1 span:nth-child(5) {
    animation-delay: .4s;
}

h1 span:nth-child(6) {
    animation-delay: .5s;
}

h1 span:nth-child(7) {
    animation-delay: .6s;
}

h1 span:nth-child(8) {
    animation-delay: .7s;
}

.flex-wrap {
    flex-wrap: wrap !important;
    padding: 4px;
}

.d-flex {
    display: flex;
}

.d-in-flex {
    display: inline-flex;
}

.fd-column {
    flex-direction: column;
}

.header-wrapper {
    margin: 0 auto;
    padding-top: 2rem;
}

.chess-wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0 4px 0 4px;

}

.game-wrapper {
    width: 85%;
    max-width: 720px;
    min-width: 480px;
    padding: 10px;

}

.chess-board {
    margin: 0 auto;
    width: 472px;
    min-width: 472px;
    background-color: black;
}

.game-setting {
    background-color: white;
    min-width: 180px;
    width: 15%;
    border-radius: 10px;
}

.score-setting {
    background-color: white;
    min-width: 180px;
    width: 30%;
    height: 50%;
    border-radius: 15px;
}

#start:hover {
    cursor: pointer;
    background-color: #441a03;
}

#end:hover {
    cursor: pointer;
    background-color: #441a03;
}

.tile {
    width: 60px;
    height: 60px;
    border: 1px solid;
    margin: -1px;
}

.tile {
    background-color: beige;
}

/*.tile {
    background-color: transparent !important;
}*/

.tile:hover {
    cursor: pointer;
}

.tile:nth-child(-2n+7),
.tile:nth-child(8) ~ .tile:nth-child(-2n+16),
.tile:nth-child(16) ~ .tile:nth-child(-2n+23),
.tile:nth-child(25) ~ .tile:nth-child(-2n+32),
.tile:nth-child(32) ~ .tile:nth-child(-2n+39),
.tile:nth-child(41) ~ .tile:nth-child(-2n+48),
.tile:nth-child(47) ~ .tile:nth-child(-2n+55),
.tile:nth-child(57) ~ .tile:nth-child(-2n+64) {
    background-color: #441a03;
}

img {
    width: 60px;
    height: 60px;
}

.dead-piece {
    width: 20px;
    height: 20px;
}