#chessboard-container {
  margin-left: 50px;
  width: 800px;
  height: 800px;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 0.2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.square {
  width: 100px;
  height: 100px;
  position: relative;
}

.black {
  background-color: rgb(72, 72, 72);
}

.white {
  background-color: rgb(231, 231, 231);
}

.piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.announce {
  text-align: center;
}

#container {
  display: flex;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
}

.info {
  display: block;
  margin-top: 50px;
}
