.light_board {
    height: 80px;
    width: 80px;
    background-color: rgb(232, 203, 156);
}

.dark_board {
    height: 80px;
    width: 80px;
    background-color: rgb(177, 134, 74);
}

.piece {
    height: 80px;
    width: 80px;
}