<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
</head>
<body style="background: dimgray">
<style>.outer_box {
    width: 800px;
    height: 800px;
    margin: 50px auto 50px 200px;
    float: left;
}

.score_board {
    width: 300px;
    height: 600px;
    margin: 150px 50px;
    float: left;
}

.inner_score {
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    float: top;
    text-align: center;
}

.turn {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    float: top;
    text-align: center;
}

.turn_box {
    width: 130px;
    height: 130px;
    float: left;
    padding: 10px;
}

.win_text {
    width: 140px;
    height: 50px;
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    visibility: hidden;
}

.draw_text {
    width: 300px;
    height: 50px;
    padding-top: 160px;
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    visibility: hidden;
}

.inner_box {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    display: table;
}

.inner_box > div {
    vertical-align: middle;
    display: table-cell
}

.black {
    background-color: grey;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.ui-button {
    width: 100px;
    height: 50px;
    font-size: x-large;
}

.score {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.error {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: darkred;
}

</style>

<div id="chessBoard" class="outer_box">

    <div class="inner_box white" id="a8"></div>
    <div class="inner_box black" id="b8"></div>
    <div class="inner_box white" id="c8"></div>
    <div class="inner_box black" id="d8"></div>
    <div class="inner_box white" id="e8"></div>
    <div class="inner_box black" id="f8"></div>
    <div class="inner_box white" id="g8"></div>
    <div class="inner_box black" id="h8"></div>

    <div class="inner_box black" id="a7"></div>
    <div class="inner_box white" id="b7"></div>
    <div class="inner_box black" id="c7"></div>
    <div class="inner_box white" id="d7"></div>
    <div class="inner_box black" id="e7"></div>
    <div class="inner_box white" id="f7"></div>
    <div class="inner_box black" id="g7"></div>
    <div class="inner_box white" id="h7"></div>

    <div class="inner_box white" id="a6"></div>
    <div class="inner_box black" id="b6"></div>
    <div class="inner_box white" id="c6"></div>
    <div class="inner_box black" id="d6"></div>
    <div class="inner_box white" id="e6"></div>
    <div class="inner_box black" id="f6"></div>
    <div class="inner_box white" id="g6"></div>
    <div class="inner_box black" id="h6"></div>

    <div class="inner_box black" id="a5"></div>
    <div class="inner_box white" id="b5"></div>
    <div class="inner_box black" id="c5"></div>
    <div class="inner_box white" id="d5"></div>
    <div class="inner_box black" id="e5"></div>
    <div class="inner_box white" id="f5"></div>
    <div class="inner_box black" id="g5"></div>
    <div class="inner_box white" id="h5"></div>

    <div class="inner_box white" id="a4"></div>
    <div class="inner_box black" id="b4"></div>
    <div class="inner_box white" id="c4"></div>
    <div class="inner_box black" id="d4"></div>
    <div class="inner_box white" id="e4"></div>
    <div class="inner_box black" id="f4"></div>
    <div class="inner_box white" id="g4"></div>
    <div class="inner_box black" id="h4"></div>

    <div class="inner_box black" id="a3"></div>
    <div class="inner_box white" id="b3"></div>
    <div class="inner_box black" id="c3"></div>
    <div class="inner_box white" id="d3"></div>
    <div class="inner_box black" id="e3"></div>
    <div class="inner_box white" id="f3"></div>
    <div class="inner_box black" id="g3"></div>
    <div class="inner_box white" id="h3"></div>

    <div class="inner_box white" id="a2"></div>
    <div class="inner_box black" id="b2"></div>
    <div class="inner_box white" id="c2"></div>
    <div class="inner_box black" id="d2"></div>
    <div class="inner_box white" id="e2"></div>
    <div class="inner_box black" id="f2"></div>
    <div class="inner_box white" id="g2"></div>
    <div class="inner_box black" id="h2"></div>

    <div class="inner_box black" id="a1"></div>
    <div class="inner_box white" id="b1"></div>
    <div class="inner_box black" id="c1"></div>
    <div class="inner_box white" id="d1"></div>
    <div class="inner_box black" id="e1"></div>
    <div class="inner_box white" id="f1"></div>
    <div class="inner_box black" id="g1"></div>
    <div class="inner_box white" id="h1"></div>
</div>
<div class="score_board">
    <div class="turn" id="turn">
        <div class="turn_box" id="black_turn">
            <img src="/images/king_black.png" height="128" width="128"/>
            <div class="win_text" id="black_win">WIN!</div>
        </div>
        <div class="turn_box" id="white_turn">
            <img src="/images/king_white.png" height="128" width="128"/>
            <div class="win_text" id="white_win">WIN!</div>
        </div>
        <div class="draw_text" id="draw">DRAW!</div>
    </div>
    <div class="inner_score">
        <div class="score" id="white"></div>
        <div class="score" id="black"></div>
    </div>
    <div class="inner_score">
        <button class="ui-button" id="start" onclick="start()">start</button>
        <button class="ui-button" id="end" onclick="end()">end</button>
    </div>
    <div class="inner_score">
        <div class="error" id="error"></div>
    </div>
</div>

<script>
    let fromTo = "";

    chessBoard.addEventListener("click", ({target: {id}}) => {
        fromTo = fromTo + id + " ";
        if (fromTo.length === 6) {
            move();
            fromTo = "";
        }
    })

    async function move() {
        const response = await fetch("/command/move", {method: "POST", body: fromTo});
        const json = response.json();
        await removeElement();
        drawBoard(json);
        fetchScore();
        fetchTurn();
    }

    async function start() {
        const response = await fetch("/command/start", {method: "POST"});
        const json = response.json();
        await removeElement();
        drawBoard(json);
        fetchScore();
        fetchTurn();
        let element = document.getElementById("white_win");
        element.style.visibility = "hidden";

        element = document.getElementById("black_win");
        element.style.visibility = "hidden";

        element = document.getElementById("draw");
        element.style.visibility = "hidden";
    }

    async function end() {
        const response = await fetch("/command/end", {method: "POST"});
        const json = response.json();
        drawBoard(json);
        await fetchResult();
    }

    async function fetchPiece() {
        const data = await fetch("/piece");
        const json = data.json();
        await removeElement();
        drawBoard(json);
    }

    async function fetchScore() {
        const data = await fetch("/score");
        data.json().then(res => Object.keys(res).forEach(function (value) {
            const element = document.getElementById(value);
            if (value === "error") {
                element.innerText = `${res[value]}`;
            } else {
                element.innerText = `${value} 점수 : ${res[value]}`;
            }
        }));
    }

    async function fetchTurn() {
        const data = await fetch("/turn");
        data.json().then(res => Object.keys(res).forEach(function (value) {
            if (value === "error") {
                const element = document.getElementById(value);
                element.innerText = `${res[value]}`;
            } else {
                const turns = document.getElementById("turn");
                for (let i = 0; i < 2; i++) {
                    turns.children[i].style.boxShadow = "none";
                }
                const currentTurn = document.getElementById(res[value] + "_turn");
                currentTurn.style.boxShadow = "0 0 10px 2px darkred";
            }
        }))
    }

    async function fetchResult() {
        const data = await fetch("/result");
        data.json().then(res => Object.keys(res).forEach(function (value) {
            const winColor = res[value];
            let element = document.getElementById(winColor);
            if (winColor !== "draw") {
                element = document.getElementById(winColor + "_win");
            }
            element.style.visibility = "visible";
        }))
    }

    function removeElement() {
        document.getElementById("error").innerText = "";
        const chessBoard = document.getElementById("chessBoard");
        for (let i = 0; i < chessBoard.children.length; i++) {
            chessBoard.children[i].innerHTML = `<div id=${chessBoard.children[i].id}></div>`
        }
    }

    function drawBoard(data) {
        data.then(res => Object.keys(res).forEach(function (value) {
            if (value === "isKingDie") {
                if (res[value] === true)
                    console.log("King Die");
                return;
            }
            const element = document.getElementById(value);
            if (value === "white" || value === "black") {
                element.innerText = `${value} 점수 : ${res[value]}`;
            } else if (value === "error") {
                element.innerText = `${res[value]}`;
            } else {
                element.innerHTML = `<img src=${res[value]} id=${value} alt="piece" height="80px" width="80px" style="padding: 5px"/>`;
            }
        }));
    }

    fetchPiece();
    fetchScore();
    fetchTurn();
</script>

</body>
</html>