<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhyB의 체스</title>
    <link rel="stylesheet" href = "css/Chess.css">
</head>
<body>
    <div class = "entire">
    <div class = "headquarter">
        <h1> WhyBe의 체스 </h1>
    </div>
    <div class = "GameSet">
        <div class = "Situation">
            <div class = "score">

            </div>
            <div class = "턴">
                <p>지금은 
                    <span></span>
                    턴입니다.
                </p>
            </div>
            <div class = "start button">
                <p>Start</p>
            </div>
            <div class = "end button">
                <p>End</p>
            </div>

        </div>
        <div class = "GameBoard">
            <div id = "row8" class = "slot-row">
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
            </div>
            <div id = "row7" class = "slot-row">
                <div class = "one-slot brown-slot">
                    <div class = "PackedPiece">
                        <img src="ChessPiece/BlackBishop.png" class = "ChessPieceImage" alt="My Image">
                    </div> 
                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
            </div>
            <div id = "row6" class = "slot-row">
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
            </div>
            <div id = "row5" class = "slot-row">
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
            </div>
            <div id = "row4" class = "slot-row">
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
            </div>
            <div id = "row3" class = "slot-row">
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
            </div>
            <div id = "row2" class = "slot-row">
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
            </div>
            <div id = "row1" class = "slot-row">
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
                <div class = "one-slot brown-slot">

                </div>
                <div class = "one-slot yellow-slot">

                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>