<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/board.css">
  <title>chess-game</title>
</head>
<body>

<h1 align="center">체스 게임!</h1>

<div id="board" class="chessBoard">
  <table>
    <tbody>
    <tr>
      <td id="a8">R</td><td id="b8">N</td><td id="c8">B</td><td id="d8">Q</td><td id="e8">K</td><td id="f8">B</td><td id="g8">N</td><td id="h8">R</td>
    </tr>
    <tr>
      <td id="a7">P</td><td id="b7">P</td><td id="c7">P</td><td id="d7">P</td><td id="e7">P</td><td id="f7">P</td><td id="g7">P</td><td id="h7">P</td>
    </tr>
    <tr>
      <td id="a6">.</td><td id="b6">.</td><td id="c6">.</td><td id="d6">.</td><td id="e6">.</td><td id="f6">.</td><td id="g6">.</td><td id="h6">.</td>
    </tr>
    <tr>
      <td id="a5">.</td><td id="b5">.</td><td id="c5">.</td><td id="d5">.</td><td id="e5">.</td><td id="f5">.</td><td id="g5">.</td><td id="h5">.</td>
    </tr>
    <tr>
      <td id="a4">.</td><td id="b4">.</td><td id="c4">.</td><td id="d4">.</td><td id="e4">.</td><td id="f4">.</td><td id="g4">.</td><td id="h4">.</td>
    </tr>
    <tr>
      <td id="a3">.</td><td id="b3">.</td><td id="c3">.</td><td id="d3">.</td><td id="e3">.</td><td id="f3">.</td><td id="g3">.</td><td id="h3">.</td>
    </tr>
    <tr>
      <td id="a2">p</td><td id="b2">p</td><td id="c2">p</td><td id="d2">p</td><td id="e2">p</td><td id="f2">p</td><td id="g2">p</td><td id="h2">p</td>
    </tr>
    <tr>
      <td id="a1">r</td><td id="b1">n</td><td id="c1">b</td><td id="d1">q</td><td id="e1">k</td><td id="f1">b</td><td id="g1">n</td><td id="h1">r</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>