<!DOCTYPE html>
<html lang="en">
<head>
  <meta char
        set="UTF-8">
  <link rel="stylesheet" href="css/board.css">
  <title>chess-game</title>
</head>
<body>

<h1 align="center">체스 게임!</h1>

<div class="chess-game">
  <div class="board-border">
    <div class="board">
      <div class="row">
        <div class="row-text">8</div>
        <div class="position" id="a8"><img src="img/blackPieces/blackRook.png"/></div>
        <div class="position" id="b8"><img src="img/blackPieces/blackKnight.png"/></div>
        <div class="position" id="c8"><img src="img/blackPieces/blackBishop.png"/></div>
        <div class="position" id="d8"><img src="img/blackPieces/blackQueen.png"/></div>
        <div class="position" id="e8"><img src="img/blackPieces/blackKing.png"/></div>
        <div class="position" id="f8"><img src="img/blackPieces/blackBishop.png"/></div>
        <div class="position" id="g8"><img src="img/blackPieces/blackKnight.png"/></div>
        <div class="position" id="h8"><img src="img/blackPieces/blackRook.png"/></div>
      </div>
      <div class="row">
        <div class="row-text">7</div>
        <div class="position" id="a7"><img src="img/blackPieces/blackPawn.png"/></div>
        <div class="position" id="b7"><img src="img/blackPieces/blackPawn.png"/></div>
        <div class="position" id="c7"><img src="img/blackPieces/blackPawn.png"/></div>
        <div class="position" id="d7"><img src="img/blackPieces/blackPawn.png"/></div>
        <div class="position" id="e7"><img src="img/blackPieces/blackPawn.png"/></div>
        <div class="position" id="f7"><img src="img/blackPieces/blackPawn.png"/></div>
        <div class="position" id="g7"><img src="img/blackPieces/blackPawn.png"/></div>
        <div class="position" id="h7"><img src="img/blackPieces/blackPawn.png"/></div>
      </div>
      <div class="row">
        <div class="row-text">6</div>
        <div class="position" id="a6"></div>
        <div class="position" id="b6"></div>
        <div class="position" id="c6"></div>
        <div class="position" id="d6"></div>
        <div class="position" id="e6"></div>
        <div class="position" id="f6"></div>
        <div class="position" id="g6"></div>
        <div class="position" id="h6"></div>
      </div>
      <div class="row">
        <div class="row-text">5</div>
        <div class="position" id="a5"></div>
        <div class="position" id="b5"></div>
        <div class="position" id="c5"></div>
        <div class="position" id="d5"></div>
        <div class="position" id="e5"></div>
        <div class="position" id="f5"></div>
        <div class="position" id="g5"></div>
        <div class="position" id="h5"></div>
      </div>
      <div class="row">
        <div class="row-text">4</div>
        <div class="position" id="a4"></div>
        <div class="position" id="b4"></div>
        <div class="position" id="c4"></div>
        <div class="position" id="d4"></div>
        <div class="position" id="e4"></div>
        <div class="position" id="f4"></div>
        <div class="position" id="g4"></div>
        <div class="position" id="h4"></div>
      </div>
      <div class="row">
        <div class="row-text">3</div>
        <div class="position" id="a3"></div>
        <div class="position" id="b3"></div>
        <div class="position" id="c3"></div>
        <div class="position" id="d3"></div>
        <div class="position" id="e3"></div>
        <div class="position" id="f3"></div>
        <div class="position" id="g3"></div>
        <div class="position" id="h3"></div>
      </div>
      <div class="row">
        <div class="row-text">2</div>
        <div class="position" id="a2"><img src="img/WhitePieces/whitePawn.png"/></div>
        <div class="position" id="b2"><img src="img/WhitePieces/whitePawn.png"/></div>
        <div class="position" id="c2"><img src="img/WhitePieces/whitePawn.png"/></div>
        <div class="position" id="d2"><img src="img/WhitePieces/whitePawn.png"/></div>
        <div class="position" id="e2"><img src="img/WhitePieces/whitePawn.png"/></div>
        <div class="position" id="f2"><img src="img/WhitePieces/whitePawn.png"/></div>
        <div class="position" id="g2"><img src="img/WhitePieces/whitePawn.png"/></div>
        <div class="position" id="h2"><img src="img/WhitePieces/whitePawn.png"/></div>
      </div>
      <div class="row">
        <div class="row-text">1</div>
        <div class="position" id="a1"><img src="img/WhitePieces/whiteRook.png"/></div>
        <div class="position" id="b1"><img src="img/WhitePieces/whiteKnight.png"/></div>
        <div class="position" id="c1"><img src="img/WhitePieces/whiteBishop.png"/></div>
        <div class="position" id="d1"><img src="img/WhitePieces/whiteQueen.png"/></div>
        <div class="position" id="e1"><img src="img/WhitePieces/whiteKing.png"/></div>
        <div class="position" id="f1"><img src="img/WhitePieces/whiteBishop.png"/></div>
        <div class="position" id="g1"><img src="img/WhitePieces/whiteKnight.png"/></div>
        <div class="position" id="h1"><img src="img/WhitePieces/whiteRook.png"/></div>
      </div>
      <div class="row column-texts">
        <div class="column-text">a</div>
        <div class="column-text">b</div>
        <div class="column-text">c</div>
        <div class="column-text">d</div>
        <div class="column-text">e</div>
        <div class="column-text">f</div>
        <div class="column-text">g</div>
        <div class="column-text">h</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>