<html>

<head>
    <meta charset="UTF-8">
    <title>Chessboard using Pure CSS and HTML</title>
    <link href="/style/board.css" rel="stylesheet" type="text/css">
</head>
<body>
{{#board}}
    <div class="chessboard">
        <div id = "a,8" class="piece white">{{{board.0.7}}}</div>
        <div id = "b,8" class="piece black">{{{board.1.7}}}</div>
        <div id = "c,8" class="piece white">{{{board.2.7}}}</div>
        <div id = "d,8" class="piece black">{{{board.3.7}}}</div>
        <div id = "e,8" class="piece white">{{{board.4.7}}}</div>
        <div id = "f,8" class="piece black">{{{board.5.7}}}</div>
        <div id = "g,8" class="piece white">{{{board.6.7}}}</div>
        <div id = "h,8" class="piece black">{{{board.7.7}}}</div>
        <!-- 2nd -->
        <div id ="a,7" class="piece black">{{{board.0.6}}}</div>
        <div id ="b,7" class="piece white">{{{board.1.6}}}</div>
        <div id ="c,7" class="piece black">{{{board.2.6}}}</div>
        <div id ="d,7" class="piece white">{{{board.3.6}}}</div>
        <div id ="e,7" class="piece black">{{{board.4.6}}}</div>
        <div id ="f,7" class="piece white">{{{board.5.6}}}</div>
        <div id ="g,7" class="piece black">{{{board.6.6}}}</div>
        <div id ="h,7" class="piece white">{{{board.7.6}}}</div>
        <!-- 3th -->
        <div id ="a,6" class="piece white">{{{board.0.5}}}</div>
        <div id ="b,6" class="piece black">{{{board.1.5}}}</div>
        <div id ="c,6" class="piece white">{{{board.2.5}}}</div>
        <div id ="d,6" class="piece black">{{{board.3.5}}}</div>
        <div id ="e,6" class="piece white">{{{board.4.5}}}</div>
        <div id ="f,6" class="piece black">{{{board.5.5}}}</div>
        <div id ="g,6" class="piece white">{{{board.6.5}}}</div>
        <div id ="h,6" class="piece black">{{{board.7.5}}}</div>
        <!-- 4st -->
        <div id ="a,5" class="piece black">{{{board.0.4}}}</div>
        <div id ="b,5" class="piece white">{{{board.1.4}}}</div>
        <div id ="c,5" class="piece black">{{{board.2.4}}}</div>
        <div id ="d,5" class="piece white">{{{board.3.4}}}</div>
        <div id ="e,5" class="piece black">{{{board.4.4}}}</div>
        <div id ="f,5" class="piece white">{{{board.5.4}}}</div>
        <div id ="g,5" class="piece black">{{{board.6.4}}}</div>
        <div id ="h,5" class="piece white">{{{board.7.4}}}</div>
        <!-- 5th -->
        <div id ="a,4" class="piece white">{{{board.0.3}}}</div>
        <div id ="b,4" class="piece black">{{{board.1.3}}}</div>
        <div id ="c,4" class="piece white">{{{board.2.3}}}</div>
        <div id ="d,4" class="piece black">{{{board.3.3}}}</div>
        <div id ="e,4" class="piece white">{{{board.4.3}}}</div>
        <div id ="f,4" class="piece black">{{{board.5.3}}}</div>
        <div id ="g,4" class="piece white">{{{board.6.3}}}</div>
        <div id ="h,4" class="piece black">{{{board.7.3}}}</div>
        <!-- 6th -->
        <div id ="a,3" class="piece black">{{{board.0.2}}}</div>
        <div id ="b,3" class="piece white">{{{board.1.2}}}</div>
        <div id ="c,3" class="piece black">{{{board.2.2}}}</div>
        <div id ="d,3" class="piece white">{{{board.3.2}}}</div>
        <div id ="e,3" class="piece black">{{{board.4.2}}}</div>
        <div id ="f,3" class="piece white">{{{board.5.2}}}</div>
        <div id ="g,3" class="piece black">{{{board.6.2}}}</div>
        <div id ="h,3" class="piece white">{{{board.7.2}}}</div>
        <!-- 7th -->
        <div id ="a,2" class="piece white">{{{board.0.1}}}</div>
        <div id ="b,2" class="piece black">{{{board.1.1}}}</div>
        <div id ="c,2" class="piece white">{{{board.2.1}}}</div>
        <div id ="d,2" class="piece black">{{{board.3.1}}}</div>
        <div id ="e,2" class="piece white">{{{board.4.1}}}</div>
        <div id ="f,2" class="piece black">{{{board.5.1}}}</div>
        <div id ="g,2" class="piece white">{{{board.6.1}}}</div>
        <div id ="h,2" class="piece black">{{{board.7.1}}}</div>
        <!-- 8th -->
        <div id ="a,1" class="piece black">{{{board.0.0}}}</div>
        <div id ="b,1" class="piece white">{{{board.1.0}}}</div>
        <div id ="c,1" class="piece black">{{{board.2.0}}}</div>
        <div id ="d,1" class="piece white">{{{board.3.0}}}</div>
        <div id ="e,1" class="piece black">{{{board.4.0}}}</div>
        <div id ="f,1" class="piece white">{{{board.5.0}}}</div>
        <div id ="g,1" class="piece black">{{{board.6.0}}}</div>
        <div id ="h,1" class="piece white">{{{board.7.0}}}</div>
    </div>
{{/board}}
</body>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src = "/script/main.js"></script>
</html>