<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <link href="../public/style.css" rel="stylesheet">
</head>
<body>

{{#map}}
<div class="game-board">
    <table class="chessboard">
        <tr class="chess-row">
            <td class="chess-cell corner"></td>
            <td class="chess-cell edge">a</td>
            <td class="chess-cell edge">b</td>
            <td class="chess-cell edge">c</td>
            <td class="chess-cell edge">d</td>
            <td class="chess-cell edge">e</td>
            <td class="chess-cell edge">f</td>
            <td class="chess-cell edge">g</td>
            <td class="chess-cell edge">h</td>
            <td class="chess-cell corner"></td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">8</td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell side">8</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">7</td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell side">7</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">6</td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell side">6</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">5</td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell side">5</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">4</td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell side">4</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">3</td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell side">3</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">2</td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell side">2</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">1</td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell dark"></td>
            <td class="chess-cell light"></td>
            <td class="chess-cell side">1</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell corner"></td>
            <td class="chess-cell edge">a</td>
            <td class="chess-cell edge">b</td>
            <td class="chess-cell edge">c</td>
            <td class="chess-cell edge">d</td>
            <td class="chess-cell edge">e</td>
            <td class="chess-cell edge">f</td>
            <td class="chess-cell edge">g</td>
            <td class="chess-cell edge">h</td>
            <td class="chess-cell corner"></td>
        </tr>
    </table>
    <div class="command-shell">
        <p>게임종료</p>
    </div>
</div>
{{/map}}

</body>
</html>