<!DOCTYPE html>
<html lang="en">
<head>
  <meta char
        set="UTF-8">
  <link rel="stylesheet" href="../css/chess-game.css">
  <title>Chess 9ame</title>
</head>
<body>
<h1 align="center">Chess 9ame</h1>
<main>

  <div class="chess-game-room-list">
    <br>
    <div class="form__group field">
      <input id="search-bar" class="search-bar" type="text" placeholder="전적을 검색할 유저의 아이디 입력"/>
      <button id="search"> 검색 </button>
    </div>

    <hr/>
    <h2 align="center">전적 검색 결과</h2>
    <div class="game-ids" align="center">
    </div>
    <div class="search-result">
    </div>
    <hr/>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a href="/" class="btn btn-sm animated-button victoria-one">게임 목록으로 돌아가기</a>
    </div>
    <br>
    <hr/>
  </div>
</main>
<script type="module" src="../js/chess-game-search.js"></script>
</body>
</html>


