<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>체스 게임</title>
        <link rel="stylesheet" href="./chess.css">
    </head>
    <body>
        <h1 class="centered">✨ 체스 게임 ✨</h1>
        <div class="chessboard">
            <!-- rnk 8 -->
            <div class="white cell">&#9820;</div>
            <div class="black cell">&#9822;</div>
            <div class="white cell">&#9821;</div>
            <div class="black cell">&#9819;</div>
            <div class="white cell">&#9818;</div>
            <div class="black cell">&#9821;</div>
            <div class="white cell">&#9822;</div>
            <div class="black cell">&#9820;</div>
            <!-- rank 7 -->
            <div class="black cell">&#9823;</div>
            <div class="white cell">&#9823;</div>
            <div class="black cell">&#9823;</div>
            <div class="white cell">&#9823;</div>
            <div class="black cell">&#9823;</div>
            <div class="white cell">&#9823;</div>
            <div class="black cell">&#9823;</div>
            <div class="white cell">&#9823;</div>
            <!-- rank 6 -->
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <!-- rank 5 -->
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <!-- rank 4 -->
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <!-- rank 3 -->
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <div class="black cell"></div>
            <div class="white cell"></div>
            <!-- rank 2 -->
            <div class="white cell">&#9817;</div>
            <div class="black cell">&#9817;</div>
            <div class="white cell">&#9817;</div>
            <div class="black cell">&#9817;</div>
            <div class="white cell">&#9817;</div>
            <div class="black cell">&#9817;</div>
            <div class="white cell">&#9817;</div>
            <div class="black cell">&#9817;</div>
            <!-- rank 1 -->
            <div class="black cell">&#9814;</div>
            <div class="white cell">&#9816;</div>
            <div class="black cell">&#9815;</div>
            <div class="white cell">&#9813;</div>
            <div class="black cell">&#9812;</div>
            <div class="white cell">&#9815;</div>
            <div class="black cell">&#9816;</div>
            <div class="white cell">&#9814;</div>
        </div>
        <script type="text/javascript" src="./chess.js"></script>
    </body>
</html>