<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <link href="../public/style.css" rel="stylesheet">
</head>
<body>

<div class="game-board">
    <table class="chessboard">
        <tr class="chess-row">
            <td class="chess-cell corner"></td>
            <td class="chess-cell edge">a</td>
            <td class="chess-cell edge">b</td>
            <td class="chess-cell edge">c</td>
            <td class="chess-cell edge">d</td>
            <td class="chess-cell edge">e</td>
            <td class="chess-cell edge">f</td>
            <td class="chess-cell edge">g</td>
            <td class="chess-cell edge">h</td>
            <td class="chess-cell corner"></td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">8</td>
            <td class="chess-cell light">a8</td>
            <td class="chess-cell dark">b8</td>
            <td class="chess-cell light">c8</td>
            <td class="chess-cell dark">d8</td>
            <td class="chess-cell light">e8</td>
            <td class="chess-cell dark">f8</td>
            <td class="chess-cell light">g8</td>
            <td class="chess-cell dark">h8</td>
            <td class="chess-cell side">8</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">7</td>
            <td class="chess-cell dark">a7</td>
            <td class="chess-cell light">b7</td>
            <td class="chess-cell dark">c7</td>
            <td class="chess-cell light">d7</td>
            <td class="chess-cell dark">e7</td>
            <td class="chess-cell light">f7</td>
            <td class="chess-cell dark">g7</td>
            <td class="chess-cell light">h7</td>
            <td class="chess-cell side">7</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">6</td>
            <td class="chess-cell light">a6</td>
            <td class="chess-cell dark">b6</td>
            <td class="chess-cell light">c6</td>
            <td class="chess-cell dark">d6</td>
            <td class="chess-cell light">e6</td>
            <td class="chess-cell dark">f6</td>
            <td class="chess-cell light">g6</td>
            <td class="chess-cell dark">h6</td>
            <td class="chess-cell side">6</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">5</td>
            <td class="chess-cell dark">a5</td>
            <td class="chess-cell light">b5</td>
            <td class="chess-cell dark">c5</td>
            <td class="chess-cell light">d5</td>
            <td class="chess-cell dark">e5</td>
            <td class="chess-cell light">f5</td>
            <td class="chess-cell dark">g5</td>
            <td class="chess-cell light">h5</td>
            <td class="chess-cell side">5</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">4</td>
            <td class="chess-cell light">a4</td>
            <td class="chess-cell dark">b4</td>
            <td class="chess-cell light">c4</td>
            <td class="chess-cell dark">d4</td>
            <td class="chess-cell light">e4</td>
            <td class="chess-cell dark">f4</td>
            <td class="chess-cell light">g4</td>
            <td class="chess-cell dark">h4</td>
            <td class="chess-cell side">4</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">3</td>
            <td class="chess-cell dark">a3</td>
            <td class="chess-cell light">b3</td>
            <td class="chess-cell dark">c3</td>
            <td class="chess-cell light">d3</td>
            <td class="chess-cell dark">e3</td>
            <td class="chess-cell light">f3</td>
            <td class="chess-cell dark">g3</td>
            <td class="chess-cell light">h3</td>
            <td class="chess-cell side">3</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">2</td>
            <td class="chess-cell light">a2</td>
            <td class="chess-cell dark">b2</td>
            <td class="chess-cell light">c2</td>
            <td class="chess-cell dark">d2</td>
            <td class="chess-cell light">e2</td>
            <td class="chess-cell dark">f2</td>
            <td class="chess-cell light">g2</td>
            <td class="chess-cell dark">h2</td>
            <td class="chess-cell side">2</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell side">1</td>
            <td class="chess-cell dark">a1</td>
            <td class="chess-cell light">b1</td>
            <td class="chess-cell dark">c1</td>
            <td class="chess-cell light">d1</td>
            <td class="chess-cell dark">e1</td>
            <td class="chess-cell light">f1</td>
            <td class="chess-cell dark">g1</td>
            <td class="chess-cell light">h1</td>
            <td class="chess-cell side">1</td>
        </tr>
        <tr class="chess-row">
            <td class="chess-cell corner"></td>
            <td class="chess-cell edge">a</td>
            <td class="chess-cell edge">b</td>
            <td class="chess-cell edge">c</td>
            <td class="chess-cell edge">d</td>
            <td class="chess-cell edge">e</td>
            <td class="chess-cell edge">f</td>
            <td class="chess-cell edge">g</td>
            <td class="chess-cell edge">h</td>
            <td class="chess-cell corner"></td>
        </tr>
    </table>
    <div class="command-shell">
        <span>명령: </span>
        <input type="text">
        <input type="submit">
    </div>
</div>

</body>
</html>