div {
    display: table;
    margin: 0 auto;
}

div table {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: burlywood;
}

#score-white, #score-black {
    text-align: center;
    width: 200px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    width: 65px;
    height: 65px;
}

td {
    background:#FFE7AA;
    border: 1px solid black;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background:#D4B66A;
}

.input-group {
    width: 650px !important;
    margin-top: 10px;
}