<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인비의 체스게임</title>
</head>
<body>

<h1>체스 보드 페이지</h1>
cellsStatus

{{#responseDTO.cellsStatus}}
  {{.}}
{{/responseDTO.cellsStatus}}
<br>

{{#responseDTO}}
  currentTurnTeamName : {{currentTurnTeamName}} <br>
  blackPlayerScore : {{blackPlayerScore}} <br>
  whitePlayerScore : {{whitePlayerScore}} <br>
  isKingDead : {{isKingDead}} <br>
  winnerName : {{winnerName}} <br>
{{/responseDTO}}


<form method="post" action="/move">
  <input type="text" name="startPosition">
  <input type="text" name="destination">
  <input type="submit" value="기물 이동">
</form>

<form action="/end">
  <input type="submit" value="게임 종료">
</form>


</body>
</html>