#gameUI {
    width: 100%;
    margin: 30px;
}

#chessBoard {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
}

#chessBoard div {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid;
}

#commandUI {
    display: inline-block;
    width: 20%;
    margin: 30px;
}

#chess_informator {
    padding: 10px;
    border: 1px solid;
}

.board_green {
    background-color: #62732a;
}

.board_red {
    background-color: #b71a07;
}

button {
    margin: 10px;
    padding: 30px;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    padding: 0;
}
