<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chess Game!</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style type="text/css">
        @import url("css/end.css");
    </style>
</head>
<body>
<script src="js/end.js"></script>
<div style = "align-content: center; vertical-align: center; background-color: beige">
    <h1>Game End</h1>
    <h2 style="font-weight: bold" id="result-span"></h2>
    <button class="btn-container" id="return-btn" onclick="location.href='/index.html'">돌아가기</button>
</div>
</body>
</html>