<!DOCTYPE html>
<html>
<head>
	<title>error!</title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="style/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<div id="container">
	<h1>error! 😅</h1>

    <p>
        {{error}}
    </p>

    <input type="submit" value=" 뒤로가기 " onclick="history.back(-1);">
</div>

</body>
</html>