<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="/css/home.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="title-wrapper">
  <span class="title">CHESS </span>
  <span class="subtitle">BY 중간곰</span>
</div>

<div middle-wrapper>
  <div class="img-wrapper">
    <img class="white-bear-piece" src="/img/white-bear-piece.png">
    <img class="black-bear-piece" src="/img/black-bear-piece.png">
  </div>
  <div class="button-wrapper">
    <button class="new-game">방만들기</button>
    <button class="load-game">이어하기</button>
    <button class="search-record">전적검색</button>
  </div>
</div>
<script src="/js/Home.js" type="module"></script>
</body>
</html>
