<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 홈</title>
    <script type="text/javascript" src="/src/index.js"></script>
</head>
<body>
<div align="center">
<button type="button" onclick="start()"> 체스게임 시작 </button>
</div>
</body>
</html>
