<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스게임</title>

    <link href="style.css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="game-container">
        <div class="title-container">
            <div class="title"><h1>체스체스체스체스</h1></div>
        </div>
        <div class="chess-board-container">
            <div class="board" id="board">
                <script src=../static/createBoard.js></script>
            </div>
        </div>
    </div>
    <div class="score-board-container">
        <div class="score-board black-score-board">
            <div class="player-name black-player-name">{{player2.name}}</div>
            <div class="player-image black-player-image">
                <!--                블랙 사진-->
                <img class="doo" src="../static/img/doo.jpg">
            </div>
            <div class="player-score black-player-score">
                <!--                블랙 점수-->
                10점
            </div>
        </div>
        <div class="score-board-boarder"></div>
        <div class="score-board white-score-board">
            <div class="player-name white-player-name">{{player1.name}}</div>
            <div class="player-image white-player-image">
                <!--                화이트 사진-->
                <img class="doo" src="../static/img/doo.jpg">
            </div>
            <div class="player-score white-player-score">
                <!--                화이트 점수-->
                점수 합계 : 10점
            </div>
        </div>
    </div>
</div>
</body>
</html>