<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpha Chess</title>
    <link rel="stylesheet" href="/src/indexDesign.css">
</head>
<body>
<h2>Chess Game</h2>
<table>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
</table>
<form action="backwardToPreprocess" method="post" enctype="text/plain">
    {{#exception}}
    <center>[ERROR] {{message}} </center>
    {{/exception}}
    <center>
        <button type="submit"> 확인 </button>
    </center>
</form>
</body>
</html>