<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로또</title>
    <script>
        // //8줄마다
        // Handlebars.registerHelper('ifIsNextLineIndex', function (index) {
        //     if (index % 8 === 0) {
        //         return true;
        //     }
        //     return false;
        // });
        // //8-index로 표시
        // Handlebars.registerHelper('convertRowInChess', function (index) {
        //     return 8 - index;
        // });

    </script>
</head>
<br>
<form action="/start" method="post">
    <input name="command" value="start" type="hidden">
    <input name="start" type="submit" value="시작하기">
</form>
{{camp}} 진영 차례입니다.
<br>

<!--<table>-->
<!--    <tbody>-->
<!--    {{#each board}}-->
<!--    <tr>-->
<!--        <td class="white" id="{{@key}}">{{this}}</td>-->
<!--        {{#ifIsNextLineIndex @index}}-->
<!--        <th>{{convertRowInChess @index}}</th>-->
<!--        {{/ifIsNextLineIndex}}-->
<!--    </tr>-->
<!--    {{/each}}-->
<!--    </tbody>-->
<!--</table>-->
<!--board-->
<table>
    <tbody>
    <tr>
        <td class="white" id="a8">{{board.0.emoji}}</td>
        <td class="black" id="b8">{{board.1.emoji}}</td>
        <td class="white" id="c8">{{board.2.emoji}}</td>
        <td class="black" id="d8">{{board.3.emoji}}</td>
        <td class="white" id="e8">{{board.4.emoji}}</td>
        <td class="black" id="f8">{{board.5.emoji}}</td>
        <td class="white" id="g8">{{board.6.emoji}}</td>
        <td class="black" id="h8">{{board.7.emoji}}</td>
        <th>8</th>
    </tr>
    <tr>
        <td class="black" id="a7">{{board.8.emoji}}</td>
        <td class="white" id="b7">{{board.9.emoji}}</td>
        <td class="black" id="c7">{{board.10.emoji}}</td>
        <td class="white" id="d7">{{board.11.emoji}}</td>
        <td class="black" id="e7">{{board.12.emoji}}</td>
        <td class="white" id="f7">{{board.13.emoji}}</td>
        <td class="black" id="g7">{{board.14.emoji}}</td>
        <td class="white" id="h7">{{board.15.emoji}}</td>
        <th>7</th>
    </tr>
    <tr>
        <td class="white" id="a6">{{board.16.emoji}}</td>
        <td class="black" id="b6">{{board.17.emoji}}</td>
        <td class="white" id="c6">{{board.18.emoji}}</td>
        <td class="black" id="d6">{{board.19.emoji}}</td>
        <td class="white" id="e6">{{board.20.emoji}}</td>
        <td class="black" id="f6">{{board.21.emoji}}</td>
        <td class="white" id="g6">{{board.22.emoji}}</td>
        <td class="black" id="h6">{{board.23.emoji}}</td>
        <th>6</th>
    </tr>
    <tr>
        <td class="black" id="a5">{{board.24.emoji}}</td>
        <td class="white" id="b5">{{board.25.emoji}}</td>
        <td class="black" id="c5">{{board.26.emoji}}</td>
        <td class="white" id="d5">{{board.27.emoji}}</td>
        <td class="black" id="e5">{{board.28.emoji}}</td>
        <td class="white" id="f5">{{board.29.emoji}}</td>
        <td class="black" id="g5">{{board.30.emoji}}</td>
        <td class="white" id="h5">{{board.31.emoji}}</td>
        <th>5</th>
    </tr>
    <tr>
        <td class="white" id="a4">{{board.32.emoji}}</td>
        <td class="black" id="b4">{{board.33.emoji}}</td>
        <td class="white" id="c4">{{board.34.emoji}}</td>
        <td class="black" id="d4">{{board.35.emoji}}</td>
        <td class="white" id="e4">{{board.36.emoji}}</td>
        <td class="black" id="f4">{{board.37.emoji}}</td>
        <td class="white" id="g4">{{board.38.emoji}}</td>
        <td class="black" id="h4">{{board.39.emoji}}</td>
        <th>4</th>
    </tr>
    <tr>
        <td class="black" id="a3">{{board.40.emoji}}</td>
        <td class="white" id="b3">{{board.41.emoji}}</td>
        <td class="black" id="c3">{{board.42.emoji}}</td>
        <td class="white" id="d3">{{board.43.emoji}}</td>
        <td class="black" id="e3">{{board.44.emoji}}</td>
        <td class="white" id="f3">{{board.45.emoji}}</td>
        <td class="black" id="g3">{{board.46.emoji}}</td>
        <td class="white" id="h3">{{board.47.emoji}}</td>
        <th>3</th>
    </tr>
    <tr>
        <td class="white" id="a2">{{board.48.emoji}}</td>
        <td class="black" id="b2">{{board.49.emoji}}</td>
        <td class="white" id="c2">{{board.50.emoji}}</td>
        <td class="black" id="d2">{{board.51.emoji}}</td>
        <td class="white" id="e2">{{board.52.emoji}}</td>
        <td class="black" id="f2">{{board.53.emoji}}</td>
        <td class="white" id="g2">{{board.54.emoji}}</td>
        <td class="black" id="h2">{{board.55.emoji}}</td>
        <th>2</th>
    </tr>
    <tr>
        <td class="black" id="a1">{{board.56.emoji}}</td>
        <td class="white" id="b1">{{board.57.emoji}}</td>
        <td class="black" id="c1">{{board.58.emoji}}</td>
        <td class="white" id="d1">{{board.59.emoji}}</td>
        <td class="black" id="e1">{{board.60.emoji}}</td>
        <td class="white" id="f1">{{board.61.emoji}}</td>
        <td class="black" id="g1">{{board.62.emoji}}</td>
        <td class="white" id="h1">{{board.63.emoji}}</td>
        <th>1</th>
    </tr>
    <tr class="file">
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
        <td>e</td>
        <td>f</td>
        <td>g</td>
        <td>h</td>
    </tr>
    </tbody>
</table>
</html>
