<!DOCTYPE html>
<html>
<head>
	<title>CHESS GAME!</title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="style/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<div id="container">
	<h1>체스 게임을 진행합니다.</h1>

	<p>
		맨 위에 차례와 점수가 표시됩니다.<br>
		이동하고자 하는 말과 이동할 위치를 차례로 선택한 후 빨간 "play!" 버튼을 누르면 말을 움직일 수 있습니다.<br>
		즐거운 게임 되세요!
	</p>

	<a href="/first"><input type="submit" value="게임 시작!"></a>
</div>

</body>
</html>