<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>체스 방 입장</title>
    <link rel="stylesheet" href="css/Index.css">
</head>

<body>
    <div class="entire">
        <div class="headquarter">
            <h1> WhyBe의 체스 </h1>
        </div>
        <div class="playerModule">
            <div class="listModule">
                <button class="addPlayerButton" type="button">
                    플레이어 추가 버튼
                </button>
            </div>
            <div class="playerList">

            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="js/IndexModule.js"></script>
</body>

</html>