<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/style.css">
    <title>야호의 체스 - 아직 시작 안했지롱!</title>
    <meta charset="UTF-8">
</head>
<body>
<form action="/" method="get">
    <input type="submit" value="move" class="btn">
    <table class="chess-board">
        <tbody>
        <tr>
            <td class="light">{{pieces.0}}</td>
            <td class="dark">{{pieces.1}}</td>
            <td class="light">{{pieces.2}}</td>
            <td class="dark">{{pieces.3}}</td>
            <td class="light">{{pieces.4}}</td>
            <td class="dark">{{pieces.5}}</td>
            <td class="light">{{pieces.6}}</td>
            <td class="dark">{{pieces.7}}</td>
            <th>8</th>
        </tr>
        <tr>
            <td class="dark">{{pieces.8}}</td>
            <td class="light">{{pieces.9}}</td>
            <td class="dark">{{pieces.10}}</td>
            <td class="light">{{pieces.11}}</td>
            <td class="dark">{{pieces.12}}</td>
            <td class="light">{{pieces.13}}</td>
            <td class="dark">{{pieces.14}}</td>
            <td class="light">{{pieces.15}}</td>
            <th>7</th>
        </tr>
        <tr>
            <td class="light">{{pieces.16}}</td>
            <td class="dark">{{pieces.17}}</td>
            <td class="light">{{pieces.18}}</td>
            <td class="dark">{{pieces.19}}</td>
            <td class="light">{{pieces.20}}</td>
            <td class="dark">{{pieces.21}}</td>
            <td class="light">{{pieces.22}}</td>
            <td class="dark">{{pieces.23}}</td>
            <th>6</th>
        </tr>
        <tr>
            <td class="dark">{{pieces.24}}</td>
            <td class="light">{{pieces.25}}</td>
            <td class="dark">{{pieces.26}}</td>
            <td class="light">{{pieces.27}}</td>
            <td class="dark">{{pieces.28}}</td>
            <td class="light">{{pieces.29}}</td>
            <td class="dark">{{pieces.30}}</td>
            <td class="light">{{pieces.31}}</td>
            <th>5</th>
        </tr>
        <tr>
            <td class="light">{{pieces.32}}</td>
            <td class="dark">{{pieces.33}}</td>
            <td class="light">{{pieces.34}}</td>
            <td class="dark">{{pieces.35}}</td>
            <td class="light">{{pieces.36}}</td>
            <td class="dark">{{pieces.37}}</td>
            <td class="light">{{pieces.38}}</td>
            <td class="dark">{{pieces.39}}</td>
            <th>4</th>
        </tr>
        <tr>
            <td class="dark">{{pieces.40}}</td>
            <td class="light">{{pieces.41}}</td>
            <td class="dark">{{pieces.42}}</td>
            <td class="light">{{pieces.43}}</td>
            <td class="dark">{{pieces.44}}</td>
            <td class="light">{{pieces.45}}</td>
            <td class="dark">{{pieces.46}}</td>
            <td class="light">{{pieces.47}}</td>
            <th>3</th>
        </tr>
        <tr>
            <td class="light">{{pieces.48}}</td>
            <td class="dark">{{pieces.49}}</td>
            <td class="light">{{pieces.50}}</td>
            <td class="dark">{{pieces.51}}</td>
            <td class="light">{{pieces.52}}</td>
            <td class="dark">{{pieces.53}}</td>
            <td class="light">{{pieces.54}}</td>
            <td class="dark">{{pieces.55}}</td>
            <th>2</th>
        </tr>
        <tr>
            <td class="dark">{{pieces.56}}</td>
            <td class="light">{{pieces.57}}</td>
            <td class="dark">{{pieces.58}}</td>
            <td class="light">{{pieces.59}}</td>
            <td class="dark">{{pieces.60}}</td>
            <td class="light">{{pieces.61}}</td>
            <td class="dark">{{pieces.62}}</td>
            <td class="light">{{pieces.63}}</td>
            <th>1</th>
        </tr>
        <tr>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
            <th>e</th>
            <th>f</th>
            <th>g</th>
            <th>h</th>
            <th></th>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
