<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/intro.css">

    <title>체스 인트로</title>
</head>
<body>
    <div class="wrapper">
        <div class="previous-game-wrapper">
            <div class="previous-game">
                <div class="message">로비님과 지토님의 끝나지 않은 게임이 있습니다.</div>
                <button>이어하기</button>
            </div>
            <div class="previous-game">
                <div class="message">가나다님과 에이비씨님의 끝나지 않은 게임이 있습니다.</div>
                <button>이어하기</button>
            </div>
        </div>
        <div class="new-game-wrapper">
            <div class="new-game-title">새로 시작하기</div>
            <form action="">
                <div class="new-user">
                    <img src="img/white_king.png" alt="">
                    <input type="text">
                </div>
                <div class="new-user">
                    <img src="img/black_king.png" alt="">
                    <input type="text">
                </div>
                <button>시작하기</button>
            </form>
            
        </div>
    </div>
</body>
</html>