<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>체스 게임</title>
  <link href="/css/index.css" rel="stylesheet">
</head>

<body>

<div class="chess-board">
  <img class="chess-board-image" src="/images/chess_board.jpg">
  <div class="chess-board-cell">
    <div class="a8"></div>
    <div class="b8"></div>
    <div class="c8"></div>
    <div class="d8"></div>
    <div class="e8"></div>
    <div class="f8"></div>
    <div class="g8"></div>
    <div class="h8"></div>

    <div class="a7"></div>
    <div class="b7"></div>
    <div class="c7"></div>
    <div class="d7"></div>
    <div class="e7"></div>
    <div class="f7"></div>
    <div class="g7"></div>
    <div class="h7"></div>

    <div class="a6"></div>
    <div class="b6"></div>
    <div class="c6"></div>
    <div class="d6"></div>
    <div class="e6"></div>
    <div class="f6"></div>
    <div class="g6"></div>
    <div class="h6"></div>

    <div class="a5"></div>
    <div class="b5"></div>
    <div class="c5"></div>
    <div class="d5"></div>
    <div class="e5"></div>
    <div class="f5"></div>
    <div class="g5"></div>
    <div class="h5"></div>

    <div class="a4"></div>
    <div class="b4"></div>
    <div class="c4"></div>
    <div class="d4"></div>
    <div class="e4"></div>
    <div class="f4"></div>
    <div class="g4"></div>
    <div class="h4"></div>

    <div class="a3"></div>
    <div class="b3"></div>
    <div class="c3"></div>
    <div class="d3"></div>
    <div class="e3"></div>
    <div class="f3"></div>
    <div class="g3"></div>
    <div class="h3"></div>

    <div class="a2"></div>
    <div class="b2"></div>
    <div class="c2"></div>
    <div class="d2"></div>
    <div class="e2"></div>
    <div class="f2"></div>
    <div class="g2"></div>
    <div class="h2"></div>

    <div class="a1"></div>
    <div class="b1"></div>
    <div class="c1"></div>
    <div class="d1"></div>
    <div class="e1"></div>
    <div class="f1"></div>
    <div class="g1"></div>
    <div class="h1"></div>
  </div>

  <div class="chess-game-start-button">
    <input type="submit" value="게임 시작 🎮‍️">
  </div>

  <div class="chess-game-restart-button">
    <input type="submit" value="게임 재시작 🎳‍️">
  </div>

  <div class="chess-game-score-button">
    <input type="submit" value="게임 스코‍어 확인 🎯️">
  </div>

  <div class="chess-game-exit-button">
    <input type="submit" value="게임 종료 ❌‍️">
  </div>

  <div class="chess-game-select-gameId-button">
    게임 방 번호 <input class="gameId" name="gameId" type="text">
    <button class="room-button">입장 ⭐‍</button>
  </div>

  <div class="chess-game-move-button">
    출발 좌표 <input class="source" name="source" type="text">
    도착 좌표 <input class="target" name="target" type="text">
    <button class="move-button">이동 ⭐‍</button>
  </div>

</div>

</body>
<script src="/js/main.js"></script>
</html>