<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>메인 화면</h1>
    <img src="../images/menu.jpeg">
    <div class="container">
        <input type="button" onclick="location.href='/game';" value="새 게임"/><br/><br/>
        <input type="button" onclick="location.href='/saved';" value="저장된 게임 불러오기"/><br/><br/>
        <input type="button" onclick="location.href='/';" value="로그아웃"/><br/><br/>
    </div>
</body>
</html>