<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>체스</title>
    <link rel="stylesheet" type="text/css" href="css/name.css"/>
</head>

<body>
<div id="content">
    이름을 입력하세요.
    <form action="/newGame" method="post">
        <p>
            <label id="white-label" for="white-team">White</label>
            <input type="text" id="white-team" name="white-team">
        </p>
        <p>
            <label id="black-label" for="black-team">Black</label>
            <input type="text" id="black-team" name="black-team">
        </p>
        <button id="submit-button">Submit</button>
    </form>
</div>
</body>
</html>
