<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="css/common.css">
<body>
    <form action="game" method="post">
        <div>
            <div>흰색 플레이어</div>
            <div>
                ID: <input type="text" name="white-player-id">
                이름: <input type="text" name="white-player-name">
            </div>
        </div>
        
        <br />

        <div>
            <div>검은색 플레이어</div>
            <div>
                ID: <input type="text" name="black-player-id">
                이름: <input type="text" name="black-player-name">
            </div>
        </div>

        <br />

        <input type="submit" value="게임하기">
    </form>
</body>
</html>