<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="game" method="post">
        <div>
            <div>첫번째 유저</div>
            <div>
                ID: <input type="text" name="first-user-id">
                이름: <input type="text" name="first-user-name">
            </div>
        </div>
        
        <br />

        <div>
            <div>
                두번쨰 유저
            </div>
            <div>
                ID: <input type="text" name="second-user-id">
                이름: <input type="text" name="second-user-name">
            </div>
        </div>

        <br />

        <input type="submit" value="게임하기">
    </form>
</body>
</html>