<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpha Chess</title>
    <link rel="stylesheet" href="/src/indexDesign.css">
</head>
<body>
<h2>Chess Game</h2>
<table>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
</table>
    <center> 체스게임을 시작하려면 start, 체스게임을 끝내려면 end를 입력하세요. </center>
    <br />
    <center>
        <form action="ready" method="post" enctype="text/plain">
            입력 <input name="command" type="text">  <button type="submit"> 제출 </button>
        </form>
    </center>
</body>
</html>