<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{turn}} 차례입니다.
        <table>
            <thead>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
                <th></th>
            </thead>
            <tbody>
            {{#ranks}}
            <tr>
                {{#pieces}}
                <td>{{this}}</td>
                {{/pieces}}
                <td>{{rankLine}}</td>
            </tr>
            {{/ranks}}
            </tbody>
        </table>

        <form action="/command" method="post">
            <input type="text" name="command" id="command" placeholder="명령어를 입력하세요."/>
            <input type="submit" value="명령어 입력">
        </form>
</body>
</html>