<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/style.css">
    <title>야호의 체스 - 아직 시작 안했지롱!</title>
    <meta charset="UTF-8">
</head>
<body>
<div id="welcomeMessage">
    CLICK TO START! 😆
</div>
<form action="/ingame" method="get" class="textBoxWrapper">
    GAME ID : <input type="text" name="gameID" class="gameIDBox"/>
    <input type="submit" value="START" class="btn" id="start">
</form>
<form action="/findgame" method="get">
    <input type="submit" value="CONTINUE" class="btn" id="continue">
</form>
</body>
</html>
