<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결과</title>
    <script type="text/javascript" src="/src/index.js"></script>
</head>
<body>
<div align="left">
    <button type="button" onclick="location.href='/';"> 홈 화면 </button>
</div>
<div align="left">
    <button type="button" onclick="start()"> 새 게임 </button>
</div>
<div align="center">
    {{#result}}
        <p> 백색 점수: {{result.scoreOfWhite}} </p>
        <p> 흑색 점수: {{result.scoreOfBlack}} </p>
        <p> 승자: {{result.winner}} </p>
    {{/result}}
</div>
</body>
</html>
