<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1 class="chess-header">🏛ROMA CHESS🏛</h1>
    <div class="container">
        <div class="chess-button-container">
            <div id="turn-status">방에 입장해주세요.</div>
            <form action="/room">
                <input type="text" id="roomName" name="name">
                <input type="submit" class="chess-btn" value="방 입장"></input>
            </form>
        </div>
    </div>
</div>
</body>
</html>
