<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jamie's Chess</title>
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="/css/room.css" rel="stylesheet"/>
</head>
<body>
<header>
    Jamie's Chess Game
</header>
<section>
    <div class="blank">&nbsp;</div>
    <div class="room">
        <label class="mini-title">체스 방을 선택하여 입장 또는 삭제하세요.</label><br/>
        <br/>
        <form action="/start" id="start" method="post">
            <select class="room-combo" id="rooms" name="roomId">
            </select>
        </form>
        <button class="room-button" id="into-room">입장</button>
        <button class="room-button" id="delete-room">삭제</button>
    </div>
    <div class="blank">&nbsp;</div>
    <div class="room">
        <label class="mini-title">새로운 방을 생성하세요.</label><br/>
        <br/>
        <input class="room-name" id="room-name" maxlength="10" minlength="1" type="text"/>
        <button class="room-button" id="create-room">방만들기</button>
    </div>
    <div class="blank">&nbsp;</div>
    <div class="room">
        <label class="mini-title">그 동안의 결과를 확인하세요.</label><br/>
        <br/>
        <form action="/result" id="result-game" method="post">
            <button class="room-button" id="result-button">게임 결과보기</button>
        </form>
    </div>
</section>
<script src="/js/room.js" type="text/javascript"></script>
</body>
</html>