<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpha Chess</title>
    <link rel="stylesheet" href="/src/indexDesign.css">
</head>
<body>
<h2>Chess Game</h2>
<table>
    <tr>
        <td class="black-box">
            {{#a8}}
            <img src=/images/{{image}} class="piece">
            {{/a8}}
        </td>
        <td class="white-box">
            {{#b8}}
            <img src=/images/{{image}} class="piece">
            {{/b8}}
        </td>
        <td class="black-box">
            {{#c8}}
            <img src=/images/{{image}} class="piece">
            {{/c8}}
        </td>
        <td class="white-box">
            {{#d8}}
            <img src=/images/{{image}} class="piece">
            {{/d8}}
        </td>
        <td class="black-box">
            {{#e8}}
            <img src=/images/{{image}} class="piece">
            {{/e8}}
        </td>
        <td class="white-box">
            {{#f8}}
            <img src=/images/{{image}} class="piece">
            {{/f8}}
        </td>
        <td class="black-box">
            {{#g8}}
            <img src=/images/{{image}} class="piece">
            {{/g8}}
        </td>
        <td class="white-box">
            {{#h8}}
            <img src=/images/{{image}} class="piece">
            {{/h8}}
        </td>
    </tr>
    <tr>
        <td class="white-box">
            {{#a7}}
            <img src=/images/{{image}} class="piece">
            {{/a7}}
        </td>
        <td class="black-box">
            {{#b7}}
            <img src=/images/{{image}} class="piece">
            {{/b7}}
        </td>
        <td class="white-box">
            {{#c7}}
            <img src=/images/{{image}} class="piece">
            {{/c7}}
        </td>
        <td class="black-box">
            {{#d7}}
            <img src=/images/{{image}} class="piece">
            {{/d7}}
        </td>
        <td class="white-box">
            {{#e7}}
            <img src=/images/{{image}} class="piece">
            {{/e7}}
        </td>
        <td class="black-box">
            {{#f7}}
            <img src=/images/{{image}} class="piece">
            {{/f7}}
        </td>
        <td class="white-box">
            {{#g7}}
            <img src=/images/{{image}} class="piece">
            {{/g7}}
        </td>
        <td class="black-box">
            {{#h7}}
            <img src=/images/{{image}} class="piece">
            {{/h7}}
        </td>
    </tr>
    <tr>
        <td class="black-box">
            {{#a6}}
            <img src=/images/{{image}} class="piece">
            {{/a6}}
        </td>
        <td class="white-box">
            {{#b6}}
            <img src=/images/{{image}} class="piece">
            {{/b6}}
        </td>
        <td class="black-box">
            {{#c6}}
            <img src=/images/{{image}} class="piece">
            {{/c6}}
        </td>
        <td class="white-box">
            {{#d6}}
            <img src=/images/{{image}} class="piece">
            {{/d6}}
        </td>
        <td class="black-box">
            {{#e6}}
            <img src=/images/{{image}} class="piece">
            {{/e6}}
        </td>
        <td class="white-box">
            {{#f6}}
            <img src=/images/{{image}} class="piece">
            {{/f6}}
        </td>
        <td class="black-box">
            {{#g6}}
            <img src=/images/{{image}} class="piece">
            {{/g6}}
        </td>
        <td class="white-box">
            {{#h6}}
            <img src=/images/{{image}} class="piece">
            {{/h6}}
        </td>
    </tr>
    <tr>
        <td class="white-box">
            {{#a5}}
            <img src=/images/{{image}} class="piece">
            {{/a5}}
        </td>
        <td class="black-box">
            {{#b5}}
            <img src=/images/{{image}} class="piece">
            {{/b5}}
        </td>
        <td class="white-box">
            {{#c5}}
            <img src=/images/{{image}} class="piece">
            {{/c5}}
        </td>
        <td class="black-box">
            {{#d5}}
            <img src=/images/{{image}} class="piece">
            {{/d5}}
        </td>
        <td class="white-box">
            {{#e5}}
            <img src=/images/{{image}} class="piece">
            {{/e5}}
        </td>
        <td class="black-box">
            {{#f5}}
            <img src=/images/{{image}} class="piece">
            {{/f5}}
        </td>
        <td class="white-box">
            {{#g5}}
            <img src=/images/{{image}} class="piece">
            {{/g5}}
        </td>
        <td class="black-box">
            {{#h5}}
            <img src=/images/{{image}} class="piece">
            {{/h5}}
        </td>
    </tr>
    <tr>
        <td class="black-box">
            {{#a4}}
            <img src=/images/{{image}} class="piece">
            {{/a4}}
        </td>
        <td class="white-box">
            {{#b4}}
            <img src=/images/{{image}} class="piece">
            {{/b4}}
        </td>
        <td class="black-box">
            {{#c4}}
            <img src=/images/{{image}} class="piece">
            {{/c4}}
        </td>
        <td class="white-box">
            {{#d4}}
            <img src=/images/{{image}} class="piece">
            {{/d4}}
        </td>
        <td class="black-box">
            {{#e4}}
            <img src=/images/{{image}} class="piece">
            {{/e4}}
        </td>
        <td class="white-box">
            {{#f4}}
            <img src=/images/{{image}} class="piece">
            {{/f4}}
        </td>
        <td class="black-box">
            {{#g4}}
            <img src=/images/{{image}} class="piece">
            {{/g4}}
        </td>
        <td class="white-box">
            {{#h4}}
            <img src=/images/{{image}} class="piece">
            {{/h4}}
        </td>
    </tr>
    <tr>
        <td class="white-box">
            {{#a3}}
            <img src=/images/{{image}} class="piece">
            {{/a3}}
        </td>
        <td class="black-box">
            {{#b3}}
            <img src=/images/{{image}} class="piece">
            {{/b3}}
        </td>
        <td class="white-box">
            {{#c3}}
            <img src=/images/{{image}} class="piece">
            {{/c3}}
        </td>
        <td class="black-box">
            {{#d3}}
            <img src=/images/{{image}} class="piece">
            {{/d3}}
        </td>
        <td class="white-box">
            {{#e3}}
            <img src=/images/{{image}} class="piece">
            {{/e3}}
        </td>
        <td class="black-box">
            {{#f3}}
            <img src=/images/{{image}} class="piece">
            {{/f3}}
        </td>
        <td class="white-box">
            {{#g3}}
            <img src=/images/{{image}} class="piece">
            {{/g3}}
        </td>
        <td class="black-box">
            {{#h3}}
            <img src=/images/{{image}} class="piece">
            {{/h3}}
        </td>
    </tr>
    <tr>
        <td class="black-box">
            {{#a2}}
            <img src=/images/{{image}} class="piece">
            {{/a2}}
        </td>
        <td class="white-box">
            {{#b2}}
            <img src=/images/{{image}} class="piece">
            {{/b2}}
        </td>
        <td class="black-box">
            {{#c2}}
            <img src=/images/{{image}} class="piece">
            {{/c2}}
        </td>
        <td class="white-box">
            {{#d2}}
            <img src=/images/{{image}} class="piece">
            {{/d2}}
        </td>
        <td class="black-box">
            {{#e2}}
            <img src=/images/{{image}} class="piece">
            {{/e2}}
        </td>
        <td class="white-box">
            {{#f2}}
            <img src=/images/{{image}} class="piece">
            {{/f2}}
        </td>
        <td class="black-box">
            {{#g2}}
            <img src=/images/{{image}} class="piece">
            {{/g2}}
        </td>
        <td class="white-box">
            {{#h2}}
            <img src=/images/{{image}} class="piece">
            {{/h2}}
        </td>
    </tr>
    <tr>
        <td class="white-box">
            {{#a1}}
            <img src=/images/{{image}} class="piece">
            {{/a1}}
        </td>
        <td class="black-box">
            {{#b1}}
            <img src=/images/{{image}} class="piece">
            {{/b1}}
        </td>
        <td class="white-box">
            {{#c1}}
            <img src=/images/{{image}} class="piece">
            {{/c1}}
        </td>
        <td class="black-box">
            {{#d1}}
            <img src=/images/{{image}} class="piece">
            {{/d1}}
        </td>
        <td class="white-box">
            {{#e1}}
            <img src=/images/{{image}} class="piece">
            {{/e1}}
        </td>
        <td class="black-box">
            {{#f1}}
            <img src=/images/{{image}} class="piece">
            {{/f1}}
        </td>
        <td class="white-box">
            {{#g1}}
            <img src=/images/{{image}} class="piece">
            {{/g1}}
        </td>
        <td class="black-box">
            {{#h1}}
            <img src=/images/{{image}} class="piece">
            {{/h1}}
        </td>
    </tr>
</table>
<center> 저장한 게임을 불러왔습니다. 흑팀의 차례입니다. 현재 점수를 보려면 "status"를 입력하세요. </center>
<br />
<center> 말을 움직이고 싶다면 "move 목적지 도착지"의 형식으로 입력하세요 </center>
<center>
    <form action="move" method="post" enctype="text/plain">
        입력 <input name="command" type="text">  <button type="submit"> 제출 </button>
    </form>
</center>
</body>
</html>