<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임 시작하기</title>
    <link rel="stylesheet" href="/css/chess.css"/>
</head>
<body>
<div class="setting_board">
    <h1>체스 게임</h1>
    <img src="/image/chess_logo.png" width="250px" height="250px">
    <br>
    <form method="post" action="/start">
        <label class="start_form" for="game_name_input">게임 이름</label>
        <br>
        <br>
        <input class="start_form" id="game_name_input" name="name" type="text" value="">
        <br>
        <br>
        <input class="start_form" type="submit" value="새로운 게임 시작하기">
    </form>
    <br>
    <br>
    <button id="load-button" type="button">게임 불러오기</button>

</div>
<script src="/js/start.js"></script>
</body>
</html>
