<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Java chess game start</title>
</head>

<body onload="getChessGames();">
<script>
    function getChessGames() {
        $.ajax({
            url: "/main/boards",
            type: "get",
            success: function (data) {
                var res = JSON.parse(data);
                console.log(JSON.stringify(data));
                var chessGameDTOs = res.chessGameDTOs;
                for (var i = 0; i < chessGameDTOs.length; i++) {
                    add(chessGameDTOs[i].id);
                }
                // 아직 뭐 받는지 모른다.
                // var jsonData = JSON.parse(data);
                // for (var i = 0; i < jsonData.boardValue.length; i++) {
                //     var piece = jsonData.boardValue[i];
                //     $('#' + piece.location).html(main.variables.pieces[piece.pieceName].img);
                //     $('#' + piece.location).attr('chess', piece.pieceName);
                // }
            },
            error: function (errorThrown) {
                alert(JSON.stringify(errorThrown));
            },
        });
    }

    function add(id) {
        var element = document.createElement("input");
        element.type = "button";
        element.value = id + "번 체스 게임";
        element.onclick = function () {
            alert("blabla");
        };

        var chessBar = document.getElementById("chessBar");
        chessBar.appendChild(element);
    }
</script>

<p id="chessBar">체스 방 :</p>

<form action="/start" method="get">
    <input class="start-button" type="submit" value="스타트"/>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>