<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>미니 체스 게임</title>
    <link rel="stylesheet" href="/src/index.css">
</head>

<body>

<h1>♟️ 초간단 체스</h1>
<section class="chess-ui">

    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>


    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>


    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>


    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>


    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>


    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>


    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>


    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
    <div class="white-square"></div>
    <div class="black-square"></div>
</section>

<column>
    <row>
        <h3> 사용자 입력</h3>
    </row>

    <row>
        <form method="post" action="/start">
            <input type="text" name="white_user_name" placeholder="흰팀 사용자">
            <input type="text" name="black_user_name" placeholder="검은팀 사용자">
            <input type="submit" value="시작" class=""/>
        </form>
    </row>
</column>

</body>
</html>
