<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/statistics.css">
    <title>우아체스 - 통계</title>
</head>
<body>
<div class="header_box">
    <div class="title_box">
        <a href="/chess/home"><strong class="title_text">우아체스</strong></a>
        <img src="/images/logo.png" alt="우아한형제들 로고" id="logo">
    </div>
</div>
<div class="content_box">
    {{#status_record_with_room_names}}
    <strong>{{roomName}} </strong> {{gameDate}}
    <p>{{{record}}}</p>
    {{/status_record_with_room_names}}
</div>
</body>
</html>