<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>체스</title>
    <link rel="stylesheet" type="text/css" href="css/table.css"/>
</head>

<body>
<table id="load-information">
    <thead>
    <tr>
        <th>#</th>
        <th>White</th>
        <th>Black</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#gameData}}
    <tr>
        <form action="/continueGame" method="post">
            <td>
                <input type="text" id="index" name="chess-board-id" value="{{chessBoardId}}" readonly>
            </td>
            <td>
                <input type="text" id="white-player" name="white-player" value="{{whitePlayer}}" readonly>
            </td>
            <td>
                <input type="text" id="black-player" name="black-player" value="{{blackPlayer}}" readonly>
            </td>
            <td>
                <button id="game-start">Start</button>
            </td>
        </form>
    </tr>
    {{/gameData}}
    </tbody>
</table>
</body>
</html>
