<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>체스</title>
    <link rel="stylesheet" type="text/css" href="css/game.css" />
  </head>

  <body onload="initialBoard()">
    <div id="chess-board">
      {{#tiles}}
      <div id="EIGHTA" class="black"></div>
      <div id="EIGHTB" class="white"></div>
      <div id="EIGHTC" class="black"></div>
      <div id="EIGHTD" class="white"></div>
      <div id="EIGHTE" class="black"></div>
      <div id="EIGHTF" class="white"></div>
      <div id="EIGHTG" class="black"></div>
      <div id="EIGHTH" class="white"></div>

      <div id="SEVENA" class="white"></div>
      <div id="SEVENB" class="black"></div>
      <div id="SEVENC" class="white"></div>
      <div id="SEVEND" class="black"></div>
      <div id="SEVENE" class="white"></div>
      <div id="SEVENF" class="black"></div>
      <div id="SEVENG" class="white"></div>
      <div id="SEVENH" class="black"></div>

      <div id="SIXA" class="black"></div>
      <div id="SIXB" class="white"></div>
      <div id="SIXC" class="black"></div>
      <div id="SIXD" class="white"></div>
      <div id="SIXE" class="black"></div>
      <div id="SIXF" class="white"></div>
      <div id="SIXG" class="black"></div>
      <div id="SIXH" class="white"></div>

      <div id="FIVEA" class="white"></div>
      <div id="FIVEB" class="black"></div>
      <div id="FIVEC" class="white"></div>
      <div id="FIVED" class="black"></div>
      <div id="FIVEE" class="white"></div>
      <div id="FIVEF" class="black"></div>
      <div id="FIVEG" class="white"></div>
      <div id="FIVEH" class="black"></div>

      <div id="FOURA" class="black"></div>
      <div id="FOURB" class="white"></div>
      <div id="FOURC" class="black"></div>
      <div id="FOURD" class="white"></div>
      <div id="FOURE" class="black"></div>
      <div id="FOURF" class="white"></div>
      <div id="FOURG" class="black"></div>
      <div id="FOURH" class="white"></div>

      <div id="THREEA" class="white"></div>
      <div id="THREEB" class="black"></div>
      <div id="THREEC" class="white"></div>
      <div id="THREED" class="black"></div>
      <div id="THREEE" class="white"></div>
      <div id="THREEF" class="black"></div>
      <div id="THREEG" class="white"></div>
      <div id="THREEH" class="black"></div>

      <div id="TWOA" class="black"></div>
      <div id="TWOB" class="white"></div>
      <div id="TWOC" class="black"></div>
      <div id="TWOD" class="white"></div>
      <div id="TWOE" class="black"></div>
      <div id="TWOF" class="white"></div>
      <div id="TWOG" class="black"></div>
      <div id="TWOH" class="white"></div>

      <div id="ONEA" class="white"></div>
      <div id="ONEB" class="black"></div>
      <div id="ONEC" class="white"></div>
      <div id="ONED" class="black"></div>
      <div id="ONEE" class="white"></div>
      <div id="ONEF" class="black"></div>
      <div id="ONEG" class="white"></div>
      <div id="ONEH" class="black"></div>
      {{/tiles}}
    </div>
    <div id="start">
      <button id="start-button" value="start">Start</button>
    </div>
  </body>
</html>
