<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체스 게임</title>
</head>
<body>

<script>
    let name = prompt("당신은 플레이어 1입니다. 이름을 설정해주세요.");
    let password = prompt("당신은 플레이어 1입니다. 비밀번호를 설정해주세요.");

    fetch("http://localhost:4567/users", {
        method: 'POST', body: JSON.stringify({
            name, password
        })
    }).then(res => res.json()).then(data => {
        console.log(data.id);
        location.replace("/new_game/" + data.id);
    })
</script>
</body>
</html>