body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin: 20px 0;
}

.chess-board {
    height: 50%;
    width: 50%;
}

.board-rank {
    display: flex;
}

.board-square {
    width: calc(100% / 8);
    height: 60px;
    display: inline-block;
}

.board-square.white-box {
    background: #eeeed2;
}

.board-square.black-box {
    background: #000000;
}