<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <title>Chess Game!</title>
</head>
<body>
    <div id="index_div">
        <h1> 체 스 게 임 ! </h1>
        <form action="/playgame" method="get">
            <input type="submit" value="새 게임" id="btn_new_game">
        </form>
        <form action="/playgame" method="post">
            <input type="submit" value="이어하기" id="btn_continue">
        </form>
    </div>
</body>
</html>