<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="jeseok95@gmail.com"/>
    <title>체스 게임</title>
    <link href="../css/chess.css" rel="stylesheet"/>
    <link href="../css/fontawesome.min.css" rel="stylesheet"/>
    <link href="../css/all.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div id=title>
        <h1>체스 고고</h1>
    </div>
</header>
<article id="contents-box">
    <div class="wrapper">
        <table class="board">
            <!-- 8/8 -->
            <tr>
                <td class="white" id="a8" onclick="onClick('a8')">
                </td>
                <td class="gray" id="b8" onclick="onClick('b8')">
                </td>
                <td class="white" id="c8" onclick="onClick('c8')">
                </td>
                <td class="gray" id="d8" onclick="onClick('d8')">
                </td>
                <td class="white" id="e8" onclick="onClick('e8')">
                </td>
                <td class="gray" id="f8" onclick="onClick('f8')">
                </td>
                <td class="white" id="g8" onclick="onClick('g8')">
                </td>
                <td class="gray" id="h8" onclick="onClick('h8')">
                </td>
            </tr>
            <!-- 7/8 -->
            <tr>
                <td class="gray" id="a7" onclick="onClick('a7')">

                </td>
                <td class="white" id="b7" onclick="onClick('b7')">

                </td>
                <td class="gray" id="c7" onclick="onClick('c7')">

                </td>
                <td class="white" id="d7" onclick="onClick('d7')">

                </td>
                <td class="gray" id="e7" onclick="onClick('e7')">

                </td>
                <td class="white" id="f7" onclick="onClick('f7')">

                </td>
                <td class="gray" id="g7" onclick="onClick('g7')">

                </td>
                <td class="white" id="h7" onclick="onClick('h7')">

                </td>
            </tr>
            <!-- 6/8 -->
            <tr>
                <td class="white" id="a6" onclick="onClick('a6')">
                </td>
                <td class="gray" id="b6" onclick="onClick('b6')">
                </td>
                <td class="white" id="c6" onclick="onClick('c6')">
                </td>
                <td class="gray" id="d6" onclick="onClick('d6')">
                </td>
                <td class="white" id="e6" onclick="onClick('e6')">
                </td>
                <td class="gray" id="f6" onclick="onClick('f6')">
                </td>
                <td class="white" id="g6" onclick="onClick('g6')">
                </td>
                <td class="gray" id="h6" onclick="onClick('h6')">
                </td>
            </tr>
            <!-- 5/8 -->
            <tr>
                <td class="gray" id="a5" onclick="onClick('a5')">
                </td>
                <td class="white" id="b5" onclick="onClick('b5')">
                </td>
                <td class="gray" id="c5" onclick="onClick('c5')">
                </td>
                <td class="white" id="d5" onclick="onClick('d5')">
                </td>
                <td class="gray" id="e5" onclick="onClick('e5')">
                </td>
                <td class="white" id="f5" onclick="onClick('f5')">
                </td>
                <td class="gray" id="g5" onclick="onClick('g5')">
                </td>
                <td class="white" id="h5" onclick="onClick('h5')">
                </td>
            </tr>
            <!-- 4/8 -->
            <tr>
                <td class="white" id="a4" onclick="onClick('a4')">
                </td>
                <td class="gray" id="b4" onclick="onClick('b4')">
                </td>
                <td class="white" id="c4" onclick="onClick('c4')">
                </td>
                <td class="gray" id="d4" onclick="onClick('d4')">
                </td>
                <td class="white" id="e4" onclick="onClick('e4')">
                </td>
                <td class="gray" id="f4" onclick="onClick('f4')">
                </td>
                <td class="white" id="g4" onclick="onClick('g4')">
                </td>
                <td class="gray" id="h4" onclick="onClick('h4')">
                </td>
            </tr>
            <!-- 3/8 -->
            <tr>
                <td class="gray" id="a3" onclick="onClick('a3')">
                </td>
                <td class="white" id="b3" onclick="onClick('b3')">
                </td>
                <td class="gray" id="c3" onclick="onClick('c3')">
                </td>
                <td class="white" id="d3" onclick="onClick('d3')">
                </td>
                <td class="gray" id="e3" onclick="onClick('e3')">
                </td>
                <td class="white" id="f3" onclick="onClick('f3')">
                </td>
                <td class="gray" id="g3" onclick="onClick('g3')">
                </td>
                <td class="white" id="h3" onclick="onClick('h3')">
                </td>
            </tr>
            <!-- 2/8 -->
            <tr>
                <td class="white" id="a2" onclick="onClick('a2')">
                </td>
                <td class="gray" id="b2" onclick="onClick('b2')">
                </td>
                <td class="white" id="c2" onclick="onClick('c2')">
                </td>
                <td class="gray" id="d2" onclick="onClick('d2')">
                </td>
                <td class="white" id="e2" onclick="onClick('e2')">
                </td>
                <td class="gray" id="f2" onclick="onClick('f2')">
                </td>
                <td class="white" id="g2" onclick="onClick('g2')">
                </td>
                <td class="gray" id="h2" onclick="onClick('h2')">
                </td>
            </tr>
            <!-- 1/8 -->
            <tr>
                <td class="gray" id="a1" onclick="onClick('a1')">
                </td>
                <td class="white" id="b1" onclick="onClick('b1')">
                </td>
                <td class="gray" id="c1" onclick="onClick('c1')">
                </td>
                <td class="white" id="d1" onclick="onClick('d1')">
                </td>
                <td class="gray" id="e1" onclick="onClick('e1')">
                </td>
                <td class="white" id="f1" onclick="onClick('f1')">
                </td>
                <td class="gray" id="g1" onclick="onClick('g1')">
                </td>
                <td class="white" id="h1" onclick="onClick('h1')">
                </td>
            </tr>
        </table>
    </div>
    <div class="wrapper">
        <div class="menu-center">
            <div class="box">
                <form action="/" method="get">
                    <input type="submit" value="&#xf197;" class="fa-3x" style="max-width: 100%">
                </form>
            </div>
            <div class="text" style="margin-top: 10px">
                다시 하기
            </div>
            <div class="box">
                <input type="submit" value="&#xf197;" class="fa-3x" style="max-width: 100%;" onclick="score()">
            </div>
            <div class="text" style="margin-top: 10px">
                점수
            </div>
        </div>
    </div>
</article>
<footer>
    <p>
        Copyright 2020
        <a href="https://github.com/joseph415">https://github.com/joseph415</a>
        All rights reserved
    </p>
</footer>
<script type="text/javascript" src="../js/Click.js"></script>
<script type="text/javascript" src="../js/Score.js"></script>
<script type="text/javascript" src="../js/setBoard.js"></script>
<script>
    window.onload = function () {
        {{#chessPiece}}
        document.getElementById('{{position}}').innerHTML = findPieceBy('{{piece}}');
        {{/chessPiece}}
    }
</script>
</body>
</html>
