@import "reset.css";

@font-face {
    font-family: "BMHANNAProOTF";
    src: url(../font/BMHANNAProOTF.otf) format("opentype");
}

html,
body {
    height: 100vh; /*페이지 높이를 브라우저 높이로 설정*/
    font-family: BMHANNAProOTF, serif;
    background-image: url(../background/background1.jpeg);
    background-repeat: repeat;
    background-position: center;
    background-size: 100% 100%;
}

header {
    position: relative;
    height: 25vh;
}

#title {
    position: absolute;
    width: max-content;
    height: max-content;
    text-align: center;
    font-size: 4rem;
    left: 50%;
    bottom: 0;
    padding: 0 0 40px 0;
    transform: translate(-50%, 0);
}

#contents-box {
    position: relative;
    min-height: calc(100vh - 25vh - 60px);
}

table.board {
    table-layout: fixed;
    border-collapse: collapse;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 20px 20px 60px;
}

td:hover {
    background-color: deepskyblue;
}

tr td {
    border: 5px solid #000;
    text-align: center;
    width: 6vmax;
    height: 6vmax;
}

.gray {
    background-color: gray;
}

.nav {
    position: relative;
    width: 100%;
    text-align: center;
    min-height: 15vh;
}

.box {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 15px;
    background-color: gray;
}

.wrapper {
    position: relative;
    display: inline-block;
    padding: 0 80px;
}

.icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


footer {
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    background: grey;
}
