@charset "utf-8";

@font-face {
    font-family: "BMHANNAPro";
    src: url(../ttf/BMHANNAPro.ttf);
}

h1 {
    font-family: BMHANNAPro;
}

#restart-button {
    width: 80px;
    height: 50px;
    font-family: BMHANNAPro;
    border: solid 1px;
    border-radius: 5px;
    font-size: 20px;
}

#restart-button:hover {
    background-color: black;
    color: white;
}