@charset "utf-8";

@font-face {
    font-family: "BMHANNAPro";
    src: url(../ttf/BMHANNAPro.ttf);
}

#white-player,
#black-player {
    font-family: BMHANNAPro;
    font-size: 30px;
}

#chess-board {
    width: 800px;
}

#chess-board div {
    margin: 0;
    padding: 0;
    width: 90px;
    height: 90px;
    float: left;
    border: 1px solid;
    font-family: BMHANNAPro;
}

#chess-board p {
    float: left;
    margin: 0;
}

#chess-board img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 60%;
    left: 40%;
    transform: translate(-60%, -40%);
}

.black {
    background-color: #d08b48;
}

.white {
    background-color: #fece9e;
}

#content {
    position: relative;
    width: 80%;
    height: 100%;
    left: 30px;
}

#status-button,
#end-button,
#move-button {
    width: 80px;
    height: 50px;
    font-family: BMHANNAPro;
    border: solid 1px;
    border-radius: 5px;
    font-size: 20px;
}

#status-button:hover,
#end-button:hover,
#move-button:hover {
    background-color: black;
    color: white;
}

#source-label,
#target-label {
    font-family: BMHANNAPro;
    font-size: 30px;
}

#source,
#target {
    font-family: BMHANNAPro;
    size: 50px;
}

#currentTeam {
    font-family: BMHANNAPro;
    font-size: 30px;
}

#message {
    width: 500px;
    height: 100px;
    resize: none;
    font-family: BMHANNAPro;
    font-size: 30px;
}