* {
    margin: 0;
    padding: 0;
    font-family: "Krabby Patty", serif;
}

body {
    min-width: 1200px;
    background: url("../img/full_background.png") no-repeat;
    background-size: cover;
}

#wrap {
    position: fixed;
    width: 100%;
    height: 100%;
}

#end-btn {
    width: 90px;
    height: 110px;
    background: transparent url('../img/end_button.png') no-repeat;
    background-size: contain;
    border: transparent;
    right: 10px;
    top: 10px;
}

#wrap .btn-container {
    position: absolute;
}

#board-container {
    width: 640px;
    height: 560px;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -280px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board-container .row {
    flex: 1;
    display: inline-flex;
    width: 100%
}

#board-container .row div {
    width: 80px;
    height: 80px;
}

#board-container .row span {
    flex-direction: column;
}

#board-container .row:nth-child(odd) .square:nth-child(even) {
    background-color: #3ab6c2
}

#board-container .row:nth-child(odd) .square:nth-child(odd) {
    background-color: #ffffff
}

#board-container .row:nth-child(even) .square:nth-child(odd) {
    background-color: #3ab6c2
}

#board-container .row:nth-child(even) .square:nth-child(even) {
    background-color: #ffffff
}

#turn-btn {
    bottom: 10px;
    left: 50px;
    width: 300px;
    height: 200px;
    background: transparent url('../img/turn-button.png') no-repeat;
    background-size: contain;
    border: transparent;
}

#turn {
    font-size: xx-large;
    top: 40px;
    left: 30px;
}

#wrap #white-score {
}

#wrap #black-score {
}

#wrap .score-container {
    width: 300px;
    height: 140px;
    background: url('../img/score.png') no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
    text-align: center;
    position: absolute;
    bottom: 200px;
    padding-top: 50px;
    display: inline-grid;
}

.white-score-container {
    left: 5%;
}

.black-score-container {
    right: 5%;
}

.white-score-container .score {
    color: white;
}

.black-score-container .score {
    color: black;
}

.piece {
    width: 90%;
    height: 90%;
}

#wrap .score {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold
}

#wrap #white-score {
    height: 100px;
    color: rgb(237, 125, 49);
    font-size: 50px;
}

#wrap #black-score {
    height: 100px;
    color: rgb(237, 125, 49);
    font-size: 50px;
}