<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/chess.css">
    <title>체스</title>
</head>

<body>
    <div class="wrapper">
        <h1>체스</h1>
        <table class="board">
        </table>
        <div class="status">status
            <p id="score">
                추가예정
            </p>
        </div>
        <button class="restart-btn">Restart</button>
    </div>
    <script src="../js/chess.js"></script>


</body>

</html>