@import "global.css";

body {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.game_info__container {
    padding: 5px 10px;
    font-size: 18px;
}

#chess_board {
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;

    border: 1px black solid;
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: 50px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;

    border: 1px black solid;
    background-color: rgb(255, 240, 215);
}

.row:nth-child(odd) > .square:nth-child(even),
.row:nth-child(even) > .square:nth-child(odd) {
    background-color: rgb(248, 201, 117);
}

.occupied:hover {
    font-size: 56px;
}

.selected {
    border: 2px red solid;
}

.piece {
    color: black;
    pointer-events: none;
}
