body {
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    user-select: none;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px 0;
}

.header__container > h1 {
    font-size: 32px;
}
