@import "global.css";

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form > label{
    margin-right: 8px;
}

form > #num_input{
    margin-right: 10px;
}

.buttons__container {
    width: 100%;
    height: 50px;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
